:root{
   --main-color:#be9c79;
   --black:#333;
   --white:#fff;
   --light-color:#666;
   --border:.2rem solid var(--black);
   --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
   --extra: #8c735c;

}
::-webkit-scrollbar{
  width: 0.8rem !important;
}


html{
   font-size: 62.5%;
   overflow-x: hidden;
   scroll-behavior: smooth;
   scroll-padding-top: 6.5rem;
}

section{
   padding:3rem 2rem;
   max-width: 1300px;
   margin:0 auto;
}

.heading{
   text-align: center;
   margin-bottom: 3rem;
}

.heading img{
   height: 4rem;
   margin-bottom: 1rem;
}

.heading h3{
   font-size:4rem;
   color:var(--black);
   font-family: 'Libre Bodoni', serif;;
}

.btn{
   display: inline-block;
   margin-top: 1rem;
   background-color: var(--main-color);
   cursor: pointer;
   color:var(--white);
   font-size: 1.8rem;
   padding:1rem 3rem;
}

.btn:hover{
   background-color: var(--darkbrown);
}

/*welcome page*/
.main-bg{
   background:linear-gradient(90deg, var(--white), transparent 0%), url('../resources/images/520.jpg') no-repeat;
   background-size: cover;
   background-position: center;
   display: flex;
}

.main-bg .main{
  min-height: 60rem;
  display: flex;
  align-items: center;

}

.main-bg .main .content{
  width: 60rem;
  text-align: center;
  padding-top:20rem;
}

.main-bg .main .content h3{
  font-size: 6rem;
  color:var(--white);
  font-family: 'Libre Bodoni', serif;
  text-align: center;
}

.main-bg .main .content p{
  padding:1rem 0;
  font-size: 1.6rem;
  color:var(--white);
  line-height: 2;
  text-align: center;
}


/*coursell image moving*/
.carousel {
  width: 100%;
}

.carousel-cell {
  margin-right: 20px;
  overflow: hidden;
}

.carousel-cell img {
  display: block;
  width: 580px;
}

/*text*/
.section2 {
  padding-right: 100px;
}

.section2 .wrapper {
  width: 100%;
  display: inline-block;
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: #F8F5F0;
  padding: 75px 40px;
  padding-left: 0px;
}

.section2 aside {
  width: 70%;
  float: right;
}

.section2 article {
  width: 30%;
  padding-left: 40px;
  float: right;
}
