:root{
   --main-color:#be9c79;
   --black:#333;
   --white:#fff;
   --light-color:#666;
   --border:.2rem solid var(--black);
   --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
   --extra: #8c735c;

}
::-webkit-scrollbar{
  width: 0.8rem !important;
}



*::selection{
   background-color: var(--main-color);
   color:var(--white);
}



section{
   padding:3rem 2rem;
   max-width: 1300px;
   margin:0 auto;
}

.heading{
   text-align: center;
   margin-bottom: 1.875rem;
 }


.heading h3{
   font-size: 2.5rem;
   color:var(--black);
   font-family: 'Libre Bodoni', serif;
}

.btn{
   display: inline-block;
   margin-top: 1rem;
   background-color: var(--main-color);
   cursor: pointer;
   color:var(--white);
   font-size: 1.8rem;
   padding:1rem 3rem;
}

.btn:hover{
   background-color: var(--darkbrown);
}


/*welcome page*/
.welcome-bg{
   background:linear-gradient(90deg, var(--white), transparent 0%), url('../resources/images/about_hotelmain.jpg') no-repeat;
   background-size: cover;
   background-position: center;
}

.welcome-bg .welcome{
   min-height: 40rem;
   display: flex;
   align-items: center;

}

.welcome-bg .welcome .content{
   width: 40rem;
   text-align: center;
   padding-left: 10rem;
}

.welcome-bg .welcome .content h3{
   font-size: 3.5rem;
   color:var(--white);
   font-family: 'Libre Bodoni', serif;
}

.welcome-bg .welcome .content p{
   padding:1rem 0;
   font-size: 1rem;
   color:var(--white);
   line-height: 2;
}
/**history**/
.history{
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   gap:2.5rem;
   padding:31.25px;
}

.history .image{
   flex:1 1 25rem;
}

.history .image img{
   width: 100%;
}

.history .content{
   flex:1 1 25rem;
}


.history .content h3{
   font-size: 2.8rem;
   color:var(--black);
   font-family: 'Libre Bodoni', serif;
   padding-bottom: 1rem;
}

.history .content p{
   padding:1rem 0;
   line-height: 1.25rem;
   color:var(--light-color);
   font-size: 0.9rem;
}

.a-style {
  color: #aa8453;
  font-size: 11.25px;
  display: inline-block;
  border-bottom: 1px solid;
  transition: all 0.4s ease-out;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/**Signature**/

.signature .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(16.875rem, 1fr));
   gap:1.1rem;
   align-items: flex-start;
   padding: 31.25px;
}

.signature .box-container .box{
   text-align: center;
}


.signature .box-container .box img{
   height: 3.125rem;
   margin-bottom: .5rem;
}

.signature .box-container .box h3{
   font-size: 1.25rem;
   color:var(--black);
   margin:1rem 0;
   font-family: 'Libre Bodoni', serif;
}

.signature .box-container .box p{
   line-height: 1.25rem;
   font-size: 0.93rem;
   color:var(--light-color);
}

.signature .heading h5{
   line-height: 1.25rem;
   font-size: 0.93rem;
   color:var(--black);
}

/**awards**/
.award .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, 18rem);
   gap:0.9rem;
   justify-content: center;
   padding: 31.25px;
}

.award .box-container img{
   width: 100%;
   object-fit: cover;
}

/**team*/
.team .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, 12.5rem);
   gap:0.9rem;
   justify-content: center;
   padding: 31.25px;
}

.team .box-container .box{
   text-align: center;
}


.team .box-container .box h3{
   font-size: 2rem;
   color:var(--black);
}


/**contact**/

.contact .row{
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   gap:1.25rem;
   padding: 31.25px
}

.contact .row .image{
   flex:1 1 31.25rem;
}

.contact .row .image img{
   width: 100%;
}

.contact .row form{
   flex:1 1 31.25rem;
   border:var(--border);
   padding:1rem;
   text-align: center;
}

.contact .row form h3{
   font-size: 1.56rem;
   margin-bottom: 0.6rem;
   color:var(--black);
   font-family: 'Libre Bodoni', serif;
}

.contact .row form .box{
   width: 100%;
   padding:0.5rem;
   font-size: 1.125rem;
   color:var(--black);
   border:var(--border);
   margin:1rem 0;
}



/**footer**/
.footer{
  background-color: #ccc6bb
}

.footer .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
   gap:1.5rem;
   align-items: flex-start;
}

.footer .heading h3{
  font-family: 'Libre Bodoni', serif;
  font-size: 2.7rem;
}

.footer .box-container .box{
   text-align: center;
}

.footer .box-container .box i{
   font-size: 2.5rem;
   line-height: 6rem;
   height: 6rem;
   width: 6rem;
   border-radius: 50%;
   background-color: var(--darkbrown);
   color:var(--white);
   margin-bottom: 1rem;
}

.footer .box-container .box h3{
   margin:1rem 0;
   font-size: 2rem;
   color:var(--black);
   font-family: 'Libre Bodoni', serif;
}

.footer .box-container .box p{
   line-height: 2;
   font-size: 1.6rem;
   color:var(--light-color);
}
