/**front part **/
.main-bg {      /**imgae**/
  background:linear-gradient(90deg, var(--white), transparent 0%), url('../resources/images/about_hotelmain.jpg') no-repeat;
  top: 0;
  left: 0;
  height: 83vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.banner .container {
  position: absolute;
  top: 0;
}
/**to make the image less bright**/
.layer {
  background-color: black;
  opacity: 0.4;
  position: absolute;
  top: 0;
  left: 0;
  height: 83vh;
  width: 100%;
}
/**heading fonts**/
.heading {   /**heading space and position **/
  color: white;
  position: relative;
  top: 200px;
  text-align: center;
}

.heading h1 {
  font-family: 'LibreBodoni-Regular';
  font-size: 50px;
  color: white;
  margin: 0;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 8px;
}

.heading p {
  margin: 0;
  font-size: 20px;
  margin-bottom: 10px;
}
/**end of heading**/
.content{
  text-align: center;
  padding-top: 100px;
}
/**content image**/
.section .right img {
  float: left; /* this so so the image will be on the left while the text is on the right*/
  width: 55%; /* sizing image to half the page*/
}

.section .left img {
  float: right;
  width: 55%;
}
/**content**/
.section .right, .section .left {
  float: left;
  width: 100%;
  margin: 60px 0px;
}

/**content text location**/
.section .right article {
  float: left;
  width: 45%;
  padding: 50px;
  text-align: left;
}


.section .left article {
  float: right;
  width: 45%;
  padding: 50px;
  text-align: right;
}
/**content button**/
.button1 {
  display: inline-block;
  padding: 1rem 4.1rem;
  font-size: 1rem;
  border: 1px solid #b0a48d;
  position: relative;
  color: #b0a48d;
  background-color: transparent;/* too allow the color to be emoty**/
}
.button1:hover{
  position: relative;
  background-color:#bb9c75 ;/**change color when hover*/
  color: white;
  padding: 1rem 4.1rem;
  font-size: 1rem;
  border: 1px solid #b0a48d;


}
/**content subtitle**/
.subtitle {
    color: darkgray;
    margin-bottom: 20px;

}
/*line to seperate tittle and content**/
.line {
  width: 40%;
  height: 1px;
  display: inline-block;
  background-color: #aa8453;
  margin: 20px 0px;
}

/*header of section*/
.right article {
  float: left;
  width: 45%;
  padding: 50px;
  text-align: left;
}


.left article {
  float: right;
  width: 45%;
  padding: 50px;
  text-align: right;
}

  /**awards section**/
.section3 .container2 {
    text-align: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
}

.section3 .box-conatiner{
  margin: 0 5rem;
}
.section3 img{
  float: left;
  width: 25%;
  padding: 10px;
  height: 200px;
  }
/** team section **/
.section4 .container3 {
    text-align: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
}
.section4 .column { /*to make it form 3 by 3*/
  float: left;
  width: 20%;
  margin-bottom: 16px;
  padding: 0 10px;
}

.section4 .card {   /**give an effect of pop out**/
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 20px;
}


.section4 .container4 { /**to create the tickness of the box for the content**/
  padding: 20px 25px;
}

.section4 .title {
  color: grey;
}

.section4 .container4{
  text-align: center;
}

.section4 i{
  color: #bb9c75;
}
/**Enquires section **/
.section5 .container5 {
    text-align: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
}
.section5 .right article {
  float: left;
  width: 40%;
  padding: 0px;
  text-align: center;
  display: inline-block;
}
.section5 .right img {
  float: left; /* this so so the image will be on the left while the text is on the right*/
  width: 60%; /* sizing image to half the page*/
  height: 50rem;
}

.section5 form{
  padding:12.9rem 5rem;
  text-align: center;
  float: left;
  background-color: #F8F5F0;
}

.section5 h3{
  font-size: 1.56rem;
  margin-top: 0.6rem;
  color:var(--black);
}

.section5 .box{
  width: 100%;
  padding:0.5rem;
  font-size: 1.125rem;
  margin:1rem 0;
}

.section5 .btn{
    display: inline-block;
    padding: 1rem 4.1rem;
    font-size: 1rem;
    border: 1px solid #b0a48d;
    position: relative;
    background: #c4ac80;
    color: white;
  }
.section5 .btn:hover{
    position: relative;
    background-color:#bb9c75 ;/**change color when hover*/
    color: white;
    padding: 1rem 4.1rem;
    font-size: 1rem;
    border: 1px solid #b0a48d;

}

  /** to make it responsive**/
  @media screen and (max-width: 400px){
      .heading h1 {
          font-size: 28px;
          letter-spacing: 3px;
      }
      .section5 .right img {
        height: 40rem;
      }
    }

  @media screen and (max-width: 600px) {
    .heading h1{
      font-size:40px;
      letter-spacing: 4px;
    }
    .section .right img,   .section5 .right img, .section .left img, .section .right article,.section5 .right article, .section .left article  {
      width: 100%;
      float: none;
    }
    .section .right, .section .left {
      margin: 40px 0px;
    }
    .section3 img {  /** this is to make sure if to small it will rejust to below   **/
      width: 100%;
    }
    .section4 .column {
      width: 100%;
      display: block;
    }


@media screen and (max-width: 900px){
      .heading h1 {
          font-size: 40px;
          letter-spacing: 4px;
      }
    }


@media screen and (max-width: 1200px){
  .section-title{
    font-size: 30px;
  }
}
