/**front part **/
.main-bg {      /**imgae**/
  background:linear-gradient(90deg, var(--white), transparent 0%), url('../resources/images/about_hotelmain.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  height: 500px;
  width: 100%;
  z-index: -1;
  object-fit: cover;
}

.banner .container {
  position: absolute;
  top: 0;
}
/**to make the image less bright**/
.layer {
  background-color: black;
  opacity: 0.4;
  position: absolute;
  top: 0;
  left: 0;
  height: 500px;
  width: 100%;
}
/**heading fonts**/
.heading {   /**heading space and position **/
  color: white;
  position: relative;
  top: 250px;
  text-align: center;
}

.heading h1 {
  font-family: 'LibreBodoni-Regular';
  font-size: 50px;
  color: white;
  margin: 0;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 8px;
}

.heading p {
  margin: 0;
  font-size: 20px;
  margin-bottom: 10px;
}
/**end of heading**/
/**content margin**/
.section{
  padding: 0 1.5rem;
}
/**content image**/
.section .right img {
  float: left; /* this so so the image will be on the left while the text is on the right*/
  width: 55%; /* sizing image to half the page*/
}

.section .left img {
  float: right;
  width: 55%;
}
/**content**/
.section .right, .section .left {
  float: left;
  width: 100%;
  margin: 60px 0px;
}

/**content text location**/
.section .right article {
  float: left;
  width: 45%;
  padding: 50px;
  text-align: center;
}


.section .left article {
  float: right;
  width: 45%;
  padding: 50px;
  text-align: center;
}
/**content button**/
.button1 {
  display: inline-block;
  padding: 1.25rem 4.375rem;
  font-size: 0.8rem;
  border: 1px solid #b0a48d;
  position: relative;
  color: #b0a48d;
  background-color: transparent;/* too allow the color to be emoty**/
}
.button1:hover{
  position: relative;
  background-color:#bb9c75 ;/**change color when hover*/
  color: white;
  font-size: 0.8rem;
  padding: 1.25rem 4.375rem;
  border: 1px solid #b0a48d;


}
/**content subtitle**/
.subtitle{
  color: darkgray;
  margin-bottom: 20px;
}
/*line to seperate tittle and content**/
.line {
  width: 40%;
  height: 1px;
  display: inline-block;
  background-color: #aa8453;
  margin: 20px 0px;
}


/**signature section**/
.section2 .container1 {
  text-align: center;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
}

.section2 .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(16.875rem, 1fr));
   gap:1.1rem;
   align-items: flex-start;
   padding: 1.5rem;
}

.section2 .box-container .box{
   text-align: center;
   border: 1px solid lightgray;
   min-height: 310px;
   padding: 25px;
}


.section2 .box-container .box img{
  width: 30%;
}

.section2 .box-container .box h3{
   font-size: 1.25rem;
   color:var(--black);
   margin:1rem 0;
   font-family: 'Libre Bodoni', serif;

}

.section2 .box-container .box p{
   line-height: 1.25rem;
   font-size: 0.93rem;
   color:var(--light-color);
}

.section2 .heading h5{
   line-height: 1.25rem;
   font-size: 0.93rem;
   color:var(--black);
}


  /**awards section**/
  .section3 .container2 {
    text-align: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
  }


  /** to make it responsive**/
  @media screen and (max-width: 600px) {
    .section .right img, .section .left img, .section .right article, .section .left article  {
      width: 100%;
      float: none;
    }
    .section .right, .section .left {
      margin: 40px 0px;
    }
