/**front part **/
.main-bg {      /**imgae**/
  background:linear-gradient(90deg, var(--white), transparent 0%), url('../resources/images/about_hotelmain.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  height: 50rem;
  width: 100%;
  z-index: -1;
  object-fit: cover;
}

.banner .container {
  position: absolute;
  top: 0;
}
/**to make the image less bright**/
.layer {
  background-color: black;
  opacity: 0.4;
  position: absolute;
  top: 0;
  left: 0;
  height: 50rem;
  width: 100%;
}
/**heading fonts**/
.heading {   /**heading space and position **/
  color: white;
  position: relative;
  top: 350px;
  text-align: center;
}

.heading h1 {
  font-family: 'LibreBodoni-Regular';
  font-size: 50px;
  color: white;
  margin: 0;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 8px;
}

.heading p {
  margin: 0;
  font-size: 20px;
  margin-bottom: 10px;
}
/**end of heading**/
