.banner {
  background-image: url("../resources/images/galleryimg4.jpg");
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.heading {
  color: white;
  position: relative;
  top: 250px;
  text-align: center;
  animation: title-slide 1s ease-in-out;
}

.heading h1 {
  font-family: 'LibreBodoni-Regular';
  font-size: 50px;
  color: white;
  margin: 0;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 8px;
}

.heading p {
  margin: 0;
  font-size: 20px;
  margin-bottom: 10px;
}

.layer {
  background-color: black;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.section-title {
  font-size: 38px;
}

.section-sub-title {
  color: darkgray;
}

.section-subheading {
  text-transform: uppercase;
  color: #aa8453;
  font-size: 18px;
}

.section1 .container {
  text-align: center;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
  display: inline-block;
  opacity: 1;
}

.room-left, .room-right {
  display: inline-block;
}

.room-left img{
  width: 50%;
  margin-top: 100px;
  float: left;
}

.room-left article{
  width: 45%;
  float: left;
  padding: 70px;
  background-color: #F8F5F0;
  z-index: 1;
}

.room-left .amenities {
  display: inline-block;
  margin-bottom: 20px;
}

.room-left .amenities i{
  font-size: 18px;
  margin: 10px;
}

@media screen and (max-width: 1200px) {
  .section1 aside img {
    width: 350px;
  }
  .carousel-cell img {
    display: block;
    width: 400px;
  }
  .section2 aside {
    width: 60%;
    float: right;
  }
  .section2 article {
    width: 40%;
    float: right;
  }
  .section-title {
    font-size: 30px;
  }
}

@media screen and (max-width: 900px) {
  .heading h1 {
    font-size: 40px;
    letter-spacing: 4px;
  }
  .section1 .box {
    width: 50%;
  }
  .section1 .box {
    width: 50%;
    float: left;
    text-align: left;
    padding: 30px;
    transition: all 0.4s ease-in-out;
  }
  .section1 .box-content {
    padding: 10px;
  }
  .section1 .box:hover {
    padding: 10px;
    box-shadow: 0px 5px 15px rgb(0 0 0 / 5%)
  }
}

@media screen and (max-width: 600px) {
  .heading h1 {
    font-size: 40px;
    letter-spacing: 4px;
  }
  .section1 .box {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .heading h1 {
    font-size: 28px;
    letter-spacing: 3px;
  }
  .section1 aside img {
    width: 100%;
  }
  .section2 {
    padding-right: 0px;
  }
  .carousel-cell img {
    display: block;
  }
  .section2 .wrapper {
    padding: 30px;
  }
  .section2 article {
    padding-left: 0px;
  }
}

@keyframes title-slide {
  0% {
    opacity: 0.8;
    left: -110px;
  }
  100% {
    opacity: 1;
    left: 0px;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
    margin-top: 20px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}
