:root{
   --main-color:#be9c79;
   --black: #000000;
   --white:#ffffff;
   --light-color:#666666;
   --border:.2rem solid var(--poopb);
   --darkbrown: #8c735c;
   --table: #e2d5c5;
   --bottom: #ccc6bb;
   --poopb: #6B4615;
   --beige: #E8D3B9;
   --darkbeige: #3F2e19;
}
*{
   font-family: 'Nunito', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   text-transform: capitalize;
}


*::selection{
   background-color: var(--main-color);
   color:var(--white);
}

::-webkit-scrollbar{
   height: .5rem;
   width: 1rem;
}

::-webkit-scrollbar-track{
   background-color: transparent;
}

::-webkit-scrollbar-thumb{
   background-color: var(--main-color);
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
   scroll-behavior: smooth;
   scroll-padding-top: 6.5rem;
}

section{
   padding:3rem 2rem;
   max-width: 100%;
   margin:0 auto;
}

.heading{
   text-align: center;
   margin-bottom: 3rem;
}

.heading img{
   height: 4rem;
   margin-bottom: 1rem;
}

.heading h3{
   font-size:4rem;
   color:var(--black);
   font-family: 'Libre Bodoni', serif
}

.btn{
   display: inline-block;
   margin-top: 1rem;
   background-color: var(--main-color);
   cursor: pointer;
   color:var(--white);
   font-size: 1.8rem;
   padding:1rem 3rem;
}

.btn:hover{
   background-color: var(--black);
}
/*welcome page*/
.main-bg{
   background:linear-gradient(90deg, var(--white), transparent 0%), url('../resources/images/bbk1.jpg') no-repeat;
   background-size: cover;
   background-position: center;
}

.main-bg .main{
   min-height: 70rem;
   display: flex;
   align-items: center;

}

.main-bg .main .content{
   width: 50rem;
   text-align: center;
}

.main-bg .main .content h3{
   font-size: 6rem;
   color:var(--white);
   font-family: 'Libre Bodoni', serif;

}

.main-bg .main .content p{
   padding:1rem 0;
   font-size: 1.6rem;
   color:var(--white);
   line-height: 2;
   float: center;
}
/* intro ends here */

/*text in button*/
.form a {
  color: var(--white);
  line-height: 25px;
  margin-left: 15px;
  margin-right: 15px;
}



/* form start*/

.form{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap:4rem;
  padding: 50px;

}

.form .image{
   flex:1 1 40rem;
}

.form .image img{
  width: 100%;
}

.form .content{
   flex:1 1 40rem;
}
.form .content{
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   gap:0rem;
}

.form h3{
  font-family: 'Libre Bodoni', serif;
  font-size: 4rem;
  color: var(--black);
}

.form .content form{
   flex:1 1 30rem;
   padding:2rem;
   text-align: center;
   margin:auto auto;
   background-color: var(--beige);
   padding-bottom: 3.5rem;
   border-radius: 1.5rem;
}

.form .content form p{
   line-height: 2rem;
   font-size: 1.5rem;
   text-align: left;
}

.form .content form label{
   font-size: 2rem;
   margin-bottom: 1.5rem;
   font-family: 'Libre Bodoni', serif;
   text-align: left;
}

.form .content form h3{
   font-size: 2.5rem;
   margin-bottom: 1rem;
   color:var(--darkbeige);
   padding-top: 1.5rem;
}

.form .content form .box{
   width: 100%;
   padding:1.4rem;
   font-size: 1.8rem;
   margin:1rem 0;
   border-radius: 1rem;
}

.form .content form .boxs{
  float: left;
  width: 11rem;
  padding:1.4rem;
  font-size: 1.8rem;
  margin-left: 0rem;
  border-radius: 1rem;
}

.form .content form .boxes{
  float: right;
  width: 11rem;
  padding:1.4rem;
  font-size: 1.8rem;
  margin-right: 15rem;
  border-radius: 1rem;
}
.child{

}

label{
  display: block;
  padding-top: 1.5rem;
}


select{
  display: flex;
  background-color: white;
  height: 5rem;
  width: 15rem;
  font-size: 1.8rem;
  padding-left: 1.3rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.btn {
  background-color: var(--main-color);
  border-radius: 8px;
  line-height: 3rem;
  color: var(--white);
  margin-top: 0rem;
  font-size: 1.8rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.btn:hover{
  background-color: var(--darkbrown);
}


/* footer starts */
.footer{
  background-color: #ccc6bb
}

.footer .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
   gap:1.5rem;
   align-items: flex-start;
}

.footer .heading h3{
  font-family: 'Libre Bodoni', serif;
  font-size: 2.7rem;
}

.footer .box-container .box{
   text-align: center;
}

.footer .box-container .box i{
   font-size: 2.5rem;
   line-height: 6rem;
   height: 6rem;
   width: 6rem;
   border-radius: 50%;
   background-color: var(--darkbrown);
   color:var(--white);
   margin-bottom: 1rem;
}

.footer .box-container .box h3{
   margin:1rem 0;
   font-size: 2rem;
   color:var(--black);
   font-family: 'Libre Bodoni', serif;
}

.footer .box-container .box p{
   line-height: 2;
   font-size: 1.6rem;
   color:var(--light-color);
}
