*{
  margin: 0px;
  padding: 0px;
}

/*TopPicture*/
#toppicture img{
  width: 100%;
}

#toppicture img:hover{
  opacity:95%;
}

/*Words in the Picture*/
#WordsInPicture{
  position: absolute;
  top: 50%;
  left: 35%;
  font-weight: bold;
  font-size: 100px;
}

/*typology*/
h1{
  font-family: 'LibreBodoni-Regular', serif;
  font-size: 100px;


}

h3{
  font-family: 'LibreBodoni-Regular', serif;

  color: green;




}

/*Contact Us*/
.ContactUs{
  margin-bottom: 600px;
}

.ContactUs h1{
  position: relative;
  margin-top: 50px;
  margin-left: 50px;


}

.ContactUs h2{
  position: absolute;
  margin-top: -10px;
  margin-left: 90px;
  font-size: 20px;
}

.ContactUs h3{\
  position: relative;
  margin-top: 200px;


}

/*Bot or Human*/
#HumBot{
  margin-left: 50px;
}

#Bot{
  background-color: #F8F5F0;
  font-size: 50px;
  padding: 60px;
  border-radius: 25px;
  border: 5px groove #BB9C72;
  margin-right: 50px;
  color: #AA8453;
}

#Bot:hover{
  background-color:#F5EFE8;
  cursor: pointer;
}

#Bot img{
  position: absolute;
  max-width: 80px;
  margin-left: 75px;
  margin-top: 70px;

}


#Human{
  background-color: #F8F5F0;
  font-size: 50px;
  padding: 60px;
  border-radius: 25px;
  border: 5px groove #BB9C72;
  margin-left:50px;
  color: #AA8453;

}

#Human:hover{
  background-color:#F5EFE8;
  cursor: pointer;
}

#Human img{
  position: absolute;
  max-width: 80px;
  margin-left: 125px;
  margin-top: 70px;

}

/*Map*/
.map{
  display: block;
  position: absolute;
  margin-left: 65%;
  top: 143%;



}
.map{
  background-color: #BB9C75;
  border: 10px dashed #AA8453;
  border-radius: 40px;

}


.map iframe{
  background-color: #BB9C75;
  width: 550px;
  height: 800px;
  border: 10px dashed #AA8453;
  border-radius: 40px;
}






/*Form*/
