*{
  margin: 0px;
  padding: 0px;
}

/*TopPicture*/
.banner{
  background-image: url("../resources/images/contact.jpg");
  top: 0;
  left: 0;
  height: 500px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/*Words in the Picture*/
.heading {
  color: white;
  position: relative;
  top: 250px;
  text-align: center;
  animation: title-slide 1s ease-in-out;
}

.heading h1 {
  font-family: 'LibreBodoni-Regular';
  font-size: 50px;
  color: white;
  margin: 0;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 8px;
}

.heading p {
  margin: 0;
  font-size: 20px;
  margin-bottom: 10px;
}





/*typology*/
h1{
  font-family: 'LibreBodoni-Regular', serif;
  font-size: 100px;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 8px;


}

h3{
  font-family: 'LibreBodoni-Regular', serif;
  color: #BB9C75;


}

/*Contact Us*/
.ContactUs{ /*How large the page is*/
  margin-bottom: 1100px;
}


.ContactUs h2{
  position: relative;
  margin-top: 100px;
  margin-left: 60px;
  font-size: 20px;
}


/*Form*/
.container-form p{
  margin-bottom: 20px;
}

.container-form{
  background-color:#F8F5F0;
  margin-top: 50px;
  margin-left: 50px;
  width: 60%;

}
/* Full-width input fields */
  input[type=text], textarea{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: white;
}

input[type=text]:focus,textarea:focus{
  background-color: #f1f1f1;
  outline: none;
}

/* Set a style for all buttons */
button {
  background-color: #BB9C75;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}


/* Add padding to container elements */
.container-form {
  padding: 16px;
}

/* Removes resize for text area */
textarea {
  resize: none;
}

/*Map*/
.map{
  display: block;
  position: absolute;
  margin-left: 65%;
  top: 70%;



}


.map iframe{
  width: 550px;
  height: 800px;
}
