*{
  margin: 0px;
  padding: 0px;
}

/*TopPicture*/
.banner{
  background-image: url("../resources/images/contact.jpg");
  top: 0;
  left: 0;
  height: 500px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/*Words in the Picture*/
.heading {
  color: white;
  position: relative;
  top: 250px;
  text-align: center;
  animation: title-slide 1s ease-in-out;
}

.heading h1 {
  font-family: 'LibreBodoni-Regular';
  font-size: 50px;
  color: white;
  margin: 0;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 8px;
}

.heading p {
  margin: 0;
  font-size: 20px;
  margin-bottom: 10px;
}





/*typology*/
h1{
  font-family: 'LibreBodoni-Regular', serif;
  font-size: 100px;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 8px;


}

h3{
  font-family: 'LibreBodoni-Regular', serif;
  color: #BB9C75;


}

/*Contact Us*/
.ContactUs{ /*How large the page is*/
  margin-bottom: 1500px;
}

.ContactUs h1{
  position: relative;
  margin-top: 50px;
  margin-left: 50px;


}

.ContactUs h2{
  position: absolute;
  margin-top: -10px;
  margin-left: 60px;
  font-size: 20px;
}

.ContactUs h3{
  position: relative;
  margin-top: 200px;


}


/*Map*/
.map{
  display: block;
  position: absolute;
  margin-left: 65%;
  top: 75%;



}
.map{
  background-color: #BB9C75;
  border: 10px dashed #AA8453;
  border-radius: 40px;

}


.map iframe{
  background-color: #BB9C75;
  width: 550px;
  height: 800px;
  border: 10px dashed #AA8453;
  border-radius: 40px;
}
