:root{
   --main-color:#be9c79;
   --black: #000000;
   --white:#ffffff;
   --light-color:#666666;
   --border:.2rem solid var(--black);
   --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
   --extra: #8c735c;
   --try: #e2d5c5;
   --bottom: #ccc6bb;
}

*{
   font-family: 'Nunito', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   text-transform: capitalize;
}

*::selection{
   background-color: var(--main-color);
   color:var(--white);
}

::-webkit-scrollbar{
   height: .5rem;
   width: 1rem;
}

::-webkit-scrollbar-track{
   background-color: transparent;
}

::-webkit-scrollbar-thumb{
   background-color: var(--main-color);
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
   scroll-behavior: smooth;
   scroll-padding-top: 6.5rem;
}

section{
   padding:3rem 2rem;
   max-width: 1270px;
   margin:0 auto;
}

.heading{
   text-align: center;
   margin-bottom: 3rem;
}

.heading img{
   height: 4rem;
   margin-bottom: 1rem;
}

.heading h3{
   font-size:4rem;
   color:var(--black);
   font-family: 'Libre Bodoni', serif;
}

button:hover{
   background-color: var(--extra);
}

.header{
   position: sticky;
   top:0; left: 0; right:0;
   background-color: var(--white);
   box-shadow: var(--box-shadow);
   z-index: 1000;
}

.header .flex{
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: relative;
   padding:1.5rem 2rem;
}

.header .flex .logo img{
   height: 4.5rem;
}

.header .flex .navbar a{
   margin-left: 2rem;
   font-size: 2rem;
   color:var(--black);
}

.header .flex .navbar a:hover{
   text-decoration: underline;
   color:var(--main-color);
}


.home-bg{
   background:linear-gradient(90deg, var(--white), transparent 0%), url(../resources/images/hotel.jpg) no-repeat;
   background-size: cover;
   background-position: center;
   height: 400px;
   width: 1270px;
   text-align: center;
}

.home-bg .home{
   min-height: 600px;
   display: flex;
   align-items: center;
}

.home-bg .home .content{
   max-width: 80%;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
   margin-top: 90px;
}

.home-bg .home .content h2{
   font-size: 6rem;
   color:var(--white);
   font-family: 'Libre Bodoni', serif;;
}

.home-bg .home .content p{
   padding:1rem 0;
   font-size: 1.6rem;
   color:var(--black);
   line-height: 2;
}

.about{
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   gap:4rem;
}

.about .content{
   flex:1 1 40rem;
}

.about .content p{
   padding:1.5rem 0;
   line-height: 2;
   color:var(--light-color);
   font-size: 1.5rem;

   text-align: center;
}

/* facilities start*/


.facilities{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap:4rem;
}

 button{
    background-color: var(--main-color);
    border-radius: 8px
  }

a {
    color: var(--white);
    line-height: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .facilities .image{
     flex:1 1 40rem;
  }

  .facilities .image img{
     width: 100%;
  }

  .facilities .content{
     flex:1 1 40rem;
  }

  .facilities .content h3{
     font-size: 4.5rem;
     color:var(--black);
     font-family: 'Libre Bodoni', serif;;
     padding-bottom: 1rem;
  }

  .facilities .content p{
     padding:1rem 0;
     line-height: 2;
     color:var(--light-color);
     font-size: 1.5rem;
  }


/* footer starts */
.footer{
  background-color: #ccc6bb
}

.footer .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
   gap:1.5rem;
   align-items: flex-start;
}

.footer .heading h3{
  font-family: 'Libre Bodoni', serif;
  font-size: 2.7rem;
}

.footer .box-container .box{
   text-align: center;
}

.footer .box-container .box i{
   font-size: 2.5rem;
   line-height: 6rem;
   height: 6rem;
   width: 6rem;
   border-radius: 50%;
   background-color: var(--extra);
   color:var(--white);
   margin-bottom: 1rem;
}

.footer .box-container .box h3{
   margin:1rem 0;
   font-size: 2rem;
   color:var(--black);
   font-family: 'Libre Bodoni', serif;
}

.footer .box-container .box p{
   line-height: 2;
   font-size: 1.6rem;
   color:var(--light-color);
}

/* media queries  */

@media (max-width:991px){

   html{
      font-size: 55%;
   }

}

@media (max-width:768px){

   #menu-btn{
      display: inline-block;
      transition: .2s linear;
   }

   #menu-btn.fa-times{
      transform: rotate(180deg);
   }

   .header .flex .navbar{
      position: absolute;
      top:99%; left:0; right:0;
      background-color: var(--white);
      border-top: var(--border);
      border-bottom: var(--border);
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
      transition: .2s linear;
   }

   .header .flex .navbar.active{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
   }

   .header .flex .navbar a{
      display: block;
      margin:2rem;
   }

   .home-bg{
      background-position: left;
   }

   .home-bg .home{
      justify-content: center;
   }

   .home-bg .home .content h3{
      font-size: 4rem;
   }

   .about .content h3{
      font-size: 3rem;
   }

}

@media (max-width:450px){

   html{
      font-size: 50%;
   }

   .heading img{
      height: 3rem;
   }

   .heading h3{
      font-size: 3rem;
   }

}
