:root{
   --main-color:#be9c79;
   --black: #000000;
   --white:#ffffff;
   --light-color:#666666;
   --darkbrown: #8c735c;
   --table: #e2d5c5;
   --bottom: #ccc6bb;
}

*{
   font-family: 'Nunito', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   text-transform: capitalize;

}

*::selection{
   background-color: var(--main-color);
   color:var(--white);
}

::-webkit-scrollbar{
   height: .5rem;
   width: .8rem;
}

::-webkit-scrollbar-track{
   background-color: transparent;
}

::-webkit-scrollbar-thumb{
   background-color: var(--main-color);
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
   scroll-behavior: smooth;
   scroll-padding-top: 6.5rem;
}

section{
   padding:3rem 2rem;
   max-width: 100%;
   margin:0 auto;
}

.btn{
  background-color: var(--main-color);
  border-radius: 8px;
  line-height: 30px;
  margin-top: 10px;
  margin-left: 0px;
  padding:5px 15px;
  text-align: left;
}
.btn:hover{
   background-color: var(--darkbrown);
}

a {
    color: var(--white);
    text-align: center;
    font-size: 2rem;
  }

.heading{
   text-align: center;
   margin-bottom: 3rem;
}

.heading h3{
   font-size:4rem;
   color:var(--black);
   font-family: 'Libre Bodoni', serif;
}

.home-bg{
   background:linear-gradient(90deg, var(--white), transparent 0%), url(../resources/images/hotel3.jpg) no-repeat;
   background-size: cover;
   background-position: center;
   height: 500px;
   text-align: center;
}

.home-bg .home{
   min-height: 600px;
   display: flex;
   align-items: center;
}

.home-bg .home .content{
   max-width: 80%;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
   margin-top: 90px;
}

.home-bg .home .content h2{
   font-size: 6rem;
   color:var(--white);
   font-family: 'Libre Bodoni', serif;;
}

.about{
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   gap:4rem;
}

.about .content{
   flex:1 1 40rem;
}

.about .content p{
   padding:2.5rem 2rem 1rem;
   line-height: 2;
   color:var(--light-color);
   font-size: 1.5rem;
   text-align: center;
}

/* facilities start*/


.facilities{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap:4rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 10rem;
  max-width: 1300px;
}

.facilities .image{
  flex:1 1 40rem;
}

.facilities .image img{
  width: 100%;
}

.facilities .content{
  flex:1 1 38rem;
}

.facilities .content h3{
  font-size: 4.5rem;
  color:var(--black);
  font-family: 'Libre Bodoni', serif;
  padding-bottom: .5rem;
}

.facilities .content p{
  padding:0.5rem 0 1.5rem;
  line-height: 2;
  color:var(--light-color);
  font-size: 1.5rem;
}

.facilities .content strong{
  line-height: 2rem;
  color:var(--black);
  font-size: 2rem;
  font-family: 'Libre Bodoni', serif;
}

#op{
  padding: 0;
}

/* footer starts */
.footer{
  background-color: #ccc6bb
}

.footer .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
   gap:1.5rem;
   align-items: flex-start;
}

.footer .heading h3{
  font-family: 'Libre Bodoni', serif;
  font-size: 2.7rem;
}

.footer .box-container .box{
   text-align: center;
}

.footer .box-container .box i{
   font-size: 2.5rem;
   line-height: 6rem;
   height: 6rem;
   width: 6rem;
   border-radius: 50%;
   background-color: var(--darkbrown);
   color:var(--white);
   margin-bottom: 1rem;
}

.footer .box-container .box h3{
   margin:1rem 0;
   font-size: 2rem;
   color:var(--black);
   font-family: 'Libre Bodoni', serif;
}

.footer .box-container .box p{
   line-height: 2rem;
   font-size: 1.6rem;
   color:var(--light-color);
}
