:root{
   --main-color:#BB9C75;
   --black: #000000;
   --white:#ffffff;
   --light-color:#666666;
   --darkbrown: #8c735c;
   --table: #e2d5c5;
   --bottom: #ccc6bb;
}

*{
   font-family: 'Nunito', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   text-transform: capitalize;
}

html{
   overflow-x: hidden;
   scroll-behavior: smooth;
   scroll-padding-top: 6.5rem;
}

section{
   max-width: 100%;
   margin:0 auto;
}

.btn{
  background-color: var(--main-color);
  line-height: 18.8px;
  margin-left: 0px;
  padding:5px 30px 5px 35px;
  text-align: left;
  font-size: 1.3rem ;
  color: white !important;
}

.btn:hover{
   background-color: var(--darkbrown);
}

.ti-angle-right {
  color: white !important;
}

.btn:hover .ti-angle-right {
  opacity: 1;
  margin-right: 1px;
}

.btn .ti-angle-right {
  color: white !important;
  font-size: 1rem;
  font-weight: bold;
}

a{
    color: var(--white);
    text-align: center;
  }

.home-bg{
   background:linear-gradient(90deg, var(--white), transparent 0%), url(../resources/images/hotel4.jpg) no-repeat;
   background-size: cover;
   background-position: center;
   height: 500px;
   text-align: center;
}

.home-bg .home{
   min-height: 600px;
   display: flex;
   align-items: center;
}

.home-bg .home .content{
   max-width: 80%;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
   margin-top: 90px;
}

.home-bg .home .content h2{
   font-size: 3.8rem;
   color:var(--white);
   font-family: 'Libre Bodoni', serif;
}

.about{
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   gap:4rem;
   padding: 1.9rem 1rem;
}

.about .content{
   flex:1 1 25rem;
}

.about .content p{
   padding: .9rem 1.3rem .6rem;
   line-height: 2rem;
   color:var(--light-color);
   font-size: 1rem;
   text-align: center;
}

/* facilities start*/


.facilities{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap:2.5rem;
  padding: 0 1.9rem 3rem;
}

.facilities .image{
  flex:1 1 26rem;
}

.facilities .image img{
  width: 100%;
}

.facilities .content{
  flex:1 1 25rem;
  padding-right: 1rem;
}

.facilities .content h3{
  font-size: 3rem;
  color:var(--black);
  font-family: 'Libre Bodoni', serif;
  padding-bottom: .3rem;
}

.facilities .content p{
  padding:0.3rem 0 .9rem;
  line-height: 1.8rem;
  color:var(--light-color);
  font-size: .94rem;
}

.facilities .content strong{
  line-height: 1.5rem;
  color:var(--black);
  font-size: 1.3rem;
  font-family: 'Libre Bodoni', serif;
}

#op{
  padding: 0 0 .4rem;
}

#oh{
  padding-bottom: 1.5rem !important;
}

/**movie timetable**/
.mhome-bg{
   background:linear-gradient(90deg, var(--white), transparent 0%), url(../resources/images/cinema2.webp) no-repeat;
   background-size: cover;
   background-position: center;
   height: 500px;
   text-align: center;
}

.mhome-bg .home{
   min-height: 600px;
   display: flex;
   align-items: center;
}

.mhome-bg .home .content{
   max-width: 80%;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
   margin-top: 90px;
}

.mhome-bg .home .content h2{
   font-size: 3.8rem;
   color:var(--white);
   font-family: 'Libre Bodoni', serif;;
}


.about{
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   gap:2.5rem;
}

.about .content{
   flex:1 1 20rem;
}

.about .content p{
   padding:.94rem 0 0;
   line-height: 2rem;
   color:var(--light-color);
   font-size: .94rem;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
}

.movie{
  padding: 1.6rem;
  padding-top: .44rem;
}

.movie .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
   gap:1.9rem;
   align-items: flex-start;
   padding: 2.5rem;
}

.movie .box-container .box{
   text-align: center;
   margin: auto auto;
   border-spacing: 12.5rem 9.4rem;
   width: 300px;
   height: 600px;
}

.movie .box-container .box img{
   height: 250px;
   margin-top: .94rem;
}

.movie .box-container .box h3{
   font-size: 1.6rem;
   color:var(--black);
   margin:.6rem 0;
   font-family: 'Libre Bodoni', serif;
}

.movie .box-container .box p{
   line-height: 2rem;
   font-size: .94rem;
   color:var(--light-color);
   padding-bottom: 12.5px;
}
