.banner {
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: black;
}

.heading {
  color: white;
  position: relative;
  top: 250px;
  text-align: center;
  animation: title-slide 1s ease-in-out;
}

.heading h1 {
  font-family: 'LibreBodoni-Regular';
  font-size: 50px;
  color: white;
  margin: 0;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 8px;
}

.heading p {
  margin: 0;
  font-size: 20px;
  margin-bottom: 10px;
}

.layer {
  background-color: black;
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
}

.main-carousel img {
  height: 100vh;
  width: 100vw;
}

.section-title {
  font-size: 38px;
}

.section-sub-title {
  color: darkgray;
}

.section-subheading {
  text-transform: uppercase;
  color: #aa8453;
  font-size: 18px;
}

.room-info .container {
  margin-top: 100px;
  margin-bottom: 100px;
  display: inline-block;
}

.room-info .info {
  width: 60%;
  float: left;
}

.room-info .info .button-style1 {
  margin-top: 40px;
  width: 60%;
}

.room-info .info .button-style1:hover {
  margin-top: 40px;
  width: 65%;
}

.room-info .amenities {
  width: 20%;
  float: right;
  text-align: right;
  display: inline-block;
  margin-bottom: 20px;
}

.room-info .amenities div{
  text-align: right;
}

.room-info .amenities i{
  font-size: 18px;
  margin: 10px;
  color: #aa8453;
}

.recommends {
  background-color: #F8F5F0;
}

.recommends .container {
  margin-top: 100px;
  margin-bottom: 100px;
  display: inline-block;
  text-align: center;
}

.recommends .box{
  float: left;
  padding: 15px;
  width: 33.33%;
}

.recommends .box img{
  width: 100%;
}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 900px) {
  .heading h1 {
    font-size: 40px;
    letter-spacing: 4px;
  }
  .room-info .info .button-style1 {
    width: 90%
  }
  .room-info .info .button-style1:hover {
    margin-top: 40px;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .heading h1 {
    font-size: 40px;
    letter-spacing: 4px;
  }
  .room-info .info {
    width: 100%;
  }
  .room-info .amenities {
    width: 100%;
    text-align: left;
    padding-top: 40px;
  }
  .room-info .amenities div {
    text-align: left;
    float: left;
  }
  .recommends .box {
    width: 100%;
  }
  .main-carousel img, .banner, .layer {
    height: 60vh;
  }
}

@media screen and (max-width: 400px) {
  .heading h1 {
    font-size: 28px;
    letter-spacing: 3px;
  }
}

@keyframes title-slide {
  0% {
    opacity: 0.8;
    left: -110px;
  }
  100% {
    opacity: 1;
    left: 0px;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
    margin-top: 20px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}
