/*form images*/

/*spa form*/
.smain-bg {
  background: url('../resources/images/spa2.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  top: 0;
  left: 0;
  height: 83vh;
  width: 100%;
  z-index: -1;
  object-fit: cover;
}

/*gym form*/
.gmain-bg {
  background: url('../resources/images/gym3.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  top: 0;
  left: 0;
  height: 83vh;
  width: 100%;
  z-index: -1;
  object-fit: cover;
}

/**billard form**/
.bmain-bg {
  background: url('../resources/images/billard2.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  top: 0;
  left: 0;
  height: 83vh;
  width: 100%;
  z-index: -1;
  object-fit: cover;
}

/**tennis form**/
.tmain-bg {
  background: url('../resources/images/tennis2.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  top: 0;
  left: 0;
  height: 83vh;
  width: 100%;
  z-index: -1;
  object-fit: cover;
}

/*pool form*/
.pmain-bg {
  background: url('../resources/images/pool2.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  top: 0;
  left: 0;
  height: 83vh;
  width: 100%;
  z-index: -1;
  object-fit: cover;
}

.banner .container {
  position: absolute;
  top: 0;
}

/**to make the image less bright**/
.layer {
  background-color: black;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  height: 83vh;
  width: 100%;
}
/**heading fonts**/
.heading {   /**heading space and position **/
  color: white;
  position: relative;
  top: 280px;
  text-align: center;
  animation: title-slide 1s ease-in-out;
}

.heading h1 {
  font-family: 'LibreBodoni-Regular';
  font-size: 50px;
  color: white;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 8px;
  text-align: center !important;
  margin:auto;
}

.heading p{
  font-size: 20px;
  margin-bottom: 10px
}

.horizontal-line{
  width: 40%;
  height: 1px;
  display: inline-block;
  background-color: #aa8453;
  margin: 30px 0px;
}

.section-title {
  font-size: 38px;
}

.section-sub-title {
  color: darkgray;
}

.section-subheading {
  text-transform: uppercase;
  color: #aa8453;
  font-size: 18px;
}

.content {
  display: inline-block;
  width: 100%;
}
