/*Promotions*/
#Promotions img{  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}














/*Menu*/
.FoodTypes{color: blue;
text-align: left;
}

.Food{color:red;
  text-align: center;

}
