* {
  font-family: 'LibreBodoni-Regular';
}

::-webkit-scrollbar-track{
   background-color: white !important;
}

body {
  background-color: black;
  height: 1000px;
}

h1, h2 {
  letter-spacing: 2.5px;
}

.banner {
  background-image: url("../resources/images/banner.jpg");
  top: 0;
  left: 0;
  height: 50vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  /* background-attachment: fixed; */
}

.layer {
  background-color: black;
  opacity: 0.4;
  position: absolute;
  top: 0;
  left: 0;
  height: 50%;
  width: 100%;
}

#mainsubheader {
  position: absolute;
  top: 160px;
  left: 100px;
  color: white;
  font-size: 10px;
  letter-spacing: 5px;
}

#mainheader {
  position: absolute;
  top: 180px;
  left: 90px;
  color: white;
  font-size: 45px;
  letter-spacing: 4px;
}

.mainbody {
  position: relative;
  background-color: white;
  width: 100%;
  height: 2000px;
  padding-top: 100px;
  padding-bottom: 200px;
}

#subtitle {
  font-size: 25px;
  text-align: center;
  color: #B0A48D;
}

#title {
  font-size: 40px;
  text-align: center;
}

/* Segmented Control */
.all, .exterior, .dining, .experience, .interior{
  display: none;
}

.display {
  display: block !important;
}

.container ul {
  position: relative;
  width: 350px;
  height: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-radius: 35px;
  background: rgba(255, 255, 255, 0.65);
  box-shadow: 0 12.5px 10px rgba(0, 0, 0, 0.08), 0 100px 80px rgba(0, 0, 0, 0.03);
  overflow: hidden;
}
.container ul li {
  list-style: none;
  display: grid;
  place-items: center;
  font-family: "montserrat";
  color: #ff3636;
  z-index: 10;
  cursor: pointer;
}
.container ul .focus {
  position: absolute;
  left: 0;
  top: 0;
  width: calc(100% / 3);
  height: 100%;
  border-radius: 35px;
  background: #fff;
  box-shadow: 0 12.5px 10px rgba(0, 0, 0, 0.015), 0 100px 80px rgba(0, 0, 0, 0.03);
}
.container ul .focus.second {
  left: calc(-100% / 3);
}

/* Final Video Styles */
.flexbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.flexbox-item-1 {
    flex: 1 0 0;
    min-height: 100px;
    align-self: flex-end;
    order: 1;
}

.flexbox-item-2 {
    min-height: 200px;
    flex-grow: 2;
    flex-basis: 0;
    align-self: center;
    order: 2;
}

.flexbox-item-3 {
    min-height: 300px;
    flex-grow: 1;
    flex-basis: 0;
    order: 3;
}


.flexbox-item-1 {
    min-height: 250px;
    min-width: 400px;
}

.flexbox-item-2 {
  min-height: 250px;
  min-width: 400px;
}

.flexbox-item-3 {
  min-height: 250px;
  min-width: 400px;
}

.flexbox-container {
    position: relative;
}

.flexbox-item {
    position: relative;
    background-color: #dfdfdf;
    font-size: 100px;
    display: flex;
    justify-content: center;
    margin: 30px;
}


@media all and (min-width: 600px) {
  .aside { flex: 1 0 0; }
}

@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .aside-1 { order: 1; }
  .main    { order: 2; }
  .aside-2 { order: 3; }
  .footer  { order: 4; }
}
