 /* Global CSS for all the pages */
 @font-face {
   font-family: 'LibreBodoni-Regular';
   src: URL('../fonts/LibreBodoni-Regular.ttf') format('truetype');
 }

 @font-face {
   font-family: 'LibreBodoni-Italic';
   src: URL('../fonts/LibreBodoni-Italic.ttf') format('truetype');
 }

body {
  margin: 0;
}

.container {
  padding-right: 100px;
  padding-left: 100px;
  margin-right: auto;
  margin-left: auto;
  transition: all 0.5s ease-in-out;
}

@media screen and (max-width: 1400px) {
  .container {
    padding-right: 50px;
    padding-left: 50px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 800px) {
  .container {
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
  }
}
