.banner {
  background-image: url("../resources/images/banner.jpg");
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  /* background-attachment: fixed; */
}

.layer {
  background-color: black;
  opacity: 0.4;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.heading {
  color: white;
  position: relative;
  top: 180px;
  animation: title-slide 1s ease-in-out;
}

.heading h1 {
  font-family: 'LibreBodoni-Regular';
  font-size: 50px;
  color: white;
  margin: 0;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 8px;
}

.heading p {
  margin: 0;
  font-size: 25px;
  color: white;
}

.section-title {
  font-size: 35px;
  margin-bottom: 5px;
}

.section-sub-title {
  color: darkgray;
}

.section1 .container {
  display: inline-block;
  margin-top: 100px;
  margin-bottom: 100px;
}

.section1 h4 {
  text-transform: uppercase;
  color: #aa8453;
  font-size: 18px;
  margin-bottom: 20px;
}

.section1 aside,article {
  width: 50%;
  float: left;
}

.section1 aside {
  text-align: right;
}

.section1 aside img {
  width: 380px;
}

.star-rating {
  position: relative;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.9em;
  margin-right: 0.9em;
  margin-bottom: 2em;
  border-right: 0.3em solid transparent;
  border-bottom: 0.7em solid #e4a853;
  border-left: 0.3em solid transparent;
  /* Controlls the size of the stars. */
  font-size: 8px;
}

.star-rating:before, .star-rating:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: 0.6em;
  left: -1em;
  border-right: 1em solid transparent;
  border-bottom: 0.7em solid #e4a853;
  border-left: 1em solid transparent;
  transform: rotate(-35deg);
}
.star-rating:after {
  transform: rotate(35deg);
}

.section1 .button-style2 {
  margin-top: 40px;
  padding: 15px 25px 15px 25px;
  width: 250px;
}

.section2 {
  padding-right: 100px;
}

.section2 .container {
  display: inline-block;
  margin-bottom: 100px;
  background-color: #F8F5F0;
  padding: 40px;
}

.section2 aside {
  float: right;
}

.section2 .section-title {
  text-align: right;
}

.section2 h4 {
  text-transform: uppercase;
  text-align: right;
  color: #aa8453;
  font-size: 18px;
  margin-bottom: 20px;
}

.section2 .section-title, .section2 .section-sub-title {
  text-align: right;
}

.section2 aside {
  width: 70%;
  float: right;
}

.section2 article {
  width: 30%;
  float: right;
}

.carousel-cell {
  width: 66%;
  height: 200px;
  margin-right: 10px;
  background: #8C8;
  border-radius: 5px;
  counter-increment: carousel-cell;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(carousel-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}

@media screen and (max-width: 800px) {
  .heading h1 {
    font-size: 40px;
    letter-spacing: 4px;
  }
  .section1 h1 {
    font-size: 35px;
  }
  .section1 aside img {
    width: 250px;
  }
}

@media screen and (max-width: 600px) {
  .heading h1 {
    font-size: 40px;
    letter-spacing: 4px;
  }
  .section1 aside,article {
      width: 100%;
      text-align: center;
    }
  .section1 aside {
    margin-top: 50px;
  }
  .section1 aside img {
    width: 350px;
  }
  .section1 .container {
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .section1 .button-style2 {
    margin: 0 auto;
    margin-top: 40px;
  }
}

@media screen and (max-width: 400px) {
  .heading h1 {
    font-size: 28px;
    letter-spacing: 3px;
  }
  .section1 aside img {
    width: 100%;
  }
}

@keyframes title-slide {
  0% {
    opacity: 0.8;
    left: -110px;
  }
  100% {
    opacity: 1;
    left: 0px;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
    margin-top: 20px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}
