*{
  transition: all 0.3s ease-in-out;
}

.banner {
  background-image: url("../resources/images/banner.jpg");
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  /* background-attachment: fixed; */
}

.layer {
  background-color: black;
  opacity: 0.4;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.heading {
  color: white;
  position: relative;
  top: 180px;
  animation: title-slide 1s ease-in-out;
}

.heading h1 {
  font-family: 'LibreBodoni-Regular';
  font-size: 60px;
  color: white;
  margin: 0;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 8px;
}

.heading p {
  margin: 0;
  font-size: 25px;
  color: white;
}

.section1 .container {
  display: inline-block;
  margin-top: 100px;
  margin-bottom: 100px;
}

.section1 h1 {
  font-size: 40px;
}

.section1 aside,article {
  width: 50%;
  float: left;
}

.section1 aside {
  text-align: right;
}

.section1 aside img {
  width: 45%;
  position: relative;
}

@media screen and (max-width: 800px) {
  .heading h1 {
    font-size: 40px;
    letter-spacing: 4px;
  }
}

@media screen and (max-width: 600px) {
  .heading h1 {
    font-size: 40px;
    letter-spacing: 4px;
  }
  .section1 aside,article {
      width: 100%;
      float: left;
    }
  .section1 aside {
    text-align: left;
  }
  .section1 aside img {
    position: static;
  }
  .section1 .container {
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 400px) {
  .heading h1 {
    font-size: 28px;
    letter-spacing: 3px;
  }
}

@keyframes title-slide {
  0% {
    opacity: 0.8;
    left: -110px;
  }
  100% {
    opacity: 1;
    left: 0px;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
    margin-top: 20px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}
