#banner-video {
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: -1;
  object-fit: cover;
}

.banner .container {
  position: absolute;
  top: 0;
}

.layer {
  background-color: black;
  opacity: 0.4;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.heading {
  color: white;
  position: relative;
  top: 200px;
  text-align: center;
  animation: title-slide 1s ease-in-out;
}

.heading h1 {
  font-family: 'LibreBodoni-Regular';
  font-size: 50px;
  color: white;
  margin: 0;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 8px;
}

.heading p {
  margin: 0;
  font-size: 25px;
  color: white;
}

.section-title {
  font-size: 38px;
  margin-bottom: 5px;
}

.section-sub-title {
  color: darkgray;
}

.section-subheading {
  text-transform: uppercase;
  color: #aa8453;
  font-size: 18px;
  margin-bottom: 20px;
}

.section1 .container {
  display: inline-block;
  margin-top: 100px;
  margin-bottom: 50px;
}

.section1 aside,article {
  width: 50%;
  float: left;
}

.section1 aside {
  text-align: right;
}

.section1 aside img {
  width: 400px;
}

.star-rating {
  position: relative;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.9em;
  margin-right: 0.9em;
  margin-bottom: 2em;
  border-right: 0.3em solid transparent;
  border-bottom: 0.7em solid #e4a853;
  border-left: 0.3em solid transparent;
  /* Controlls the size of the stars. */
  font-size: 8px;
}

.star-rating:before, .star-rating:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: 0.6em;
  left: -1em;
  border-right: 1em solid transparent;
  border-bottom: 0.7em solid #e4a853;
  border-left: 1em solid transparent;
  transform: rotate(-35deg);
}
.star-rating:after {
  transform: rotate(35deg);
}

.section2 {
  padding-right: 100px;
}

.section2 .wrapper {
  width: 100%;
  display: inline-block;
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: #F8F5F0;
  padding: 65px;
  padding-left: 0px;
}

.section2 aside {
  width: 70%;
  float: right;
}

.section2 article {
  width: 30%;
  padding-left: 40px;
  float: right;
}

.carousel {
  width: 100%;
}

.carousel-cell {
  margin-right: 20px;
  overflow: hidden;
}

.carousel-cell img {
  display: block;
  width: 580px;
}

.section3 .wrapper {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
  display: inline-block;
}

.section3 .container {
  padding-right: 0px !important;
}

.section3 aside {
  width: 50%;
  float: right;
}

.section3 article {
  width: 50%;
  padding: 50px;
  text-align: right;
  float: right;
}

.section3 img {
  width: 100%;
}

.section3 .btn-container, .section6 .btn-container {
  float: right;
}

.section4 .wrapper {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
  display: inline-block;
}

.section4 aside {
  width: 50%;
  float: left;
}

.section4 article {
  width: 50%;
  padding-left: 40px;
  float: left;
}

.section4 article {
  padding: 50px;
}

.section4 img {
  width: 100%;
}

.section1 .button-style2, .section2 .button-style2, .section3 .button-style2, .section4 .button-style2, .section5 .button-style2, .section6 .button-style2, .section7 .button-style2{
    margin-top: 40px;
    padding: 15px 25px 15px 25px;
    width: 250px;
}

.section5 .container {
  text-align: center;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
  display: inline-block;
}

.section5 .section-title{
  text-align: center;
  margin-bottom: 30px;
}

.section5 .section-subheading {
  text-align: center;
  font-size: 15px;
  margin-bottom: 0px;
}

.section5 .grid {
  width: 100%
}

.section5 .box {
  width: 33%;
  float: left;
  text-align: left;
}

.section5 .box-content {
  margin: 10px;
  border: 1px solid lightgray;
  min-height: 250px;
  padding: 25px;
}

.section5 .box img {
  width: 70px;
}

.section5 .box h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.section5 .grid button {
  margin: 0 auto;
  margin-top: 30px;
  display: inline-block;
}

.reveal {
  opacity: 0;
}

.section6 .wrapper {
  width: 100%;
  margin-top: 100px;
  padding: 65px 0px;
  background-color: #F8F5F0;
  margin-bottom: 100px;
  display: inline-block;
}

.section6 .right {
  float: left;
}

.section6 .right, .section6 .left {
  float: left;
  width: 100%;
  margin: 60px 0px;
}

.section6 .right img {
  float: left;
  width: 55%;
  height: 400px;
}

.section6 .right article {
  float: left;
  width: 45%;
  padding: 50px;
  text-align: left;
}

.section6 .left img {
  float: right;
  width: 55%;
  height: 400px;
}

.section6 .left article {
  float: right;
  width: 45%;
  padding: 50px;
  text-align: right;
}

.section6 img {
  width: 100%;
}

.section7 .container {
  text-align: center;
  width: 100%;
  margin-bottom: 100px;
  display: inline-block;
}

.section7 .section-title{
  text-align: center;
  margin-bottom: 30px;
}

.section7 .section-subheading {
  text-align: center;
  font-size: 15px;
  margin-bottom: 0px;
}

.section7 .grid {
  width: 100%
}

.section7 .box {
  width: 33%;
  float: left;
  text-align: left;
}

.section7 .box-content {
  margin: 10px;
  min-height: 250px;
  padding: 25px;
}

.section7 .box img {
  width: 70px;
}

.section7 .box h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.section7 .grid button {
  margin: 0 auto
  display: inline-block;
}

.section7 .grid button {
  margin: 0 auto;
  margin-top: 30px;
  display: inline-block;
}

.section7 .box-content img {
  width: 100%;
}

.section7 .box-content button {
  width: 100%;
}

.section8 {
  background-image: url('../resources/images/galleryimg1.jpg');
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section8 .container {
  position: relative;
  bottom: 400px;
}

.section8 .layer {
  position: static;
}

.section8 .section-title{
  color: white;
}

.section8 .section-subheading {

}

.review-carousel .carousel-cell {
  width: 100%;
  height: 200px;
  margin-right: 10px;
}

@media screen and (max-width: 1200px) {
  .section1 aside img {
    width: 350px;
  }
  .carousel-cell img {
    display: block;
    width: 400px;
  }
  .section2 aside {
    width: 60%;
    float: right;
  }
  .section2 article {
    width: 40%;
    float: right;
  }
  .section-title {
    font-size: 30px;
  }
  .section-title {
    font-size: 25px;
  }
}

@media screen and (max-width: 900px) {
  .heading h1 {
    font-size: 40px;
    letter-spacing: 4px;
  }
  .section1 aside img {
    width: 250px;
  }
  .section2 {
    padding-right: 50px;
  }
  .section2 .wrapper, .section3 .wrapper, .section4 .wrapper {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .section5 .box {
    width: 50%;
  }
  .section7 .box {
    width: 100%;
  }
}

/* footer starts */
.footer{
  background-color: #ccc6bb
}

.footer .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
   gap:1.5rem;
   align-items: flex-start;
}

.footer .heading h3{
  font-family: 'Libre Bodoni', serif;
  font-size: 2.7rem;
}

.footer .box-container .box{
   text-align: center;
}

.footer .box-container .box i{
   font-size: 2.5rem;
   line-height: 6rem;
   height: 6rem;
   width: 6rem;
   border-radius: 50%;
   background-color: var(--darkbrown);
   color:var(--white);
   margin-bottom: 1rem;
}

.footer .box-container .box h3{
   margin:1rem 0;
   font-size: 2rem;
   color:var(--black);
   font-family: 'Libre Bodoni', serif;
}

.footer .box-container .box p{
   line-height: 2;
   font-size: 1.6rem;
   color:var(--light-color);
}

@media screen and (max-width: 600px) {
  .heading h1 {
    font-size: 40px;
    letter-spacing: 4px;
  }
  .section1 aside, .section1 article{
      width: 100%;
      text-align: center;
  }
  .section1 aside {
    margin-top: 50px;
  }
  .section1 aside img {
    width: 350px;
  }
  .section1 .section-subheading {
    text-align: center;
  }
  .section1 .container, .section2 .container {
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .section1 .button-style2 {
    margin: 0 auto;
    margin-top: 40px;
  }
  .section2 aside, .section2 article {
    width: 100%;
  }
  .section2 .button-style2 {
    margin-bottom: 40px;
  }
  .section2 .section-sub-title {
    margin-bottom: 30px;
  }
  .section3 .btn-container, .section6 .btn-container {
    float: none;
    width: 100%;
  }
  .section3 article, .section3 aside, .section4 article, .section4 aside {
    width: 100%;
  }
  .button-style2 {
    margin-top: 40px !important;
    width: 100% !important;
  }
  .section2 .wrapper, .section3 .wrapper, .section4 .wrapper, .section5 .container {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .section5 .box {
    width: 100%;
  }
  .section5 .box-content {
    margin: 10px 0px;
  }
  .section6 .right img, .section6 .left img, .section6 .right article, .section6 .left article  {
    width: 100%;
    float: none;
  }
}

@media screen and (max-width: 400px) {
  .heading h1 {
    font-size: 28px;
    letter-spacing: 3px;
  }
  .section1 aside img {
    width: 100%;
  }
  .section2 {
    padding-right: 0px;
  }
  .carousel-cell img {
    display: block;
  }
  .section2 .wrapper {
    padding: 50px 30px;
  }
  .section2 article {
    padding-left: 0px;
  }
}

@keyframes title-slide {
  0% {
    opacity: 0.8;
    left: -110px;
  }
  100% {
    opacity: 1;
    left: 0px;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
    margin-top: 20px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}

@keyframes fade-right {
  0% {
    position: relative;
    opacity: 0;
    left: 40px;
  }
  100% {
    position: relative;
    opacity: 1;
    left: 0px;
  }
}

@keyframes fade-left {
  0% {
    position: relative;
    opacity: 0;
    right: 40px;
  }
  100% {
    position: relative;
    opacity: 1;
    right: 0px;
  }
}

@keyframes fade-up {
  0% {
    position: relative;
    opacity: 0;
    top: 40px;
  }
  100% {
    position: relative;
    opacity: 1;
    top: 0px;
  }
}
