.section-title {
  font-size: 38px;
}

.section-sub-title {
  color: darkgray;
  padding-bottom: 20px;
}

.section-subheading {
  text-transform: uppercase;
  color: #aa8453;
  font-size: 18px;
}

.section1 .container {
  text-align: center;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
  display: inline-block;
  opacity: 1;
}

.carousel-cell{
  width:40%;
  height: 650px;
  column-gap: 0;
}

.room-left, .room-right {
  display: inline-block;
}

:root {
  --movies-width: 18vw;
  --movies-height: 350px;
  --arrow-width: 50px;
  --slider-py: 200px;
}
@media only screen and (max-width: 1000px) {
  :root {
    --movies-width: 25vw;
  }
}
/*
*
* THE SLIDER CONTAINER
*
*********************************/
.slider {
  width: 100%;
  overflow-x: hidden;
  overflow-y: visible;
  white-space: nowrap;
  position: relative;
  padding-top: var(--slider-py);
  padding-bottom: var(--slider-py);
}/**find smt to make a gap**
/*
*
* SLIDER INDICATORS
*
*********************************/
.container-indicators {
  width: 100px;
  position: absolute;
  right: 0;
  top: calc(var(--slider-py) - 60px);
  visibility: hidden;
}
.indicator {
  width: 15px;
  height: 2px;
  background-color: grey;
  display: inline-block;
}
.indicator.active {
  background-color: white;
}
/*
*
* MOVIE ELEMENTS!
*
*********************************/
.movies {
  width: var(--movies-width);
  height: var(--movies-height);
  display: inline-block;
  position: relative;
  color: black;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.8rem;
}

.movies:nth-of-type(1) {
  margin-left: var(--arrow-width);
}
.movies:hover {
  transform: scale(1.3);
  z-index: -2;
}

.movies img {
  object-fit: cover;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.description {
  position: absolute;
  display: none;
  z-index: 9999;
  background-color: #F8F5F0;
  color: #aa8453;
  width: var(--movies-width);
  margin-top: -10px;
  padding: 10px 0;
}
/* Make description visible when movie is hovered */
.movies:hover > .description {
  display: block;
}
.movies:hover > img {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  width:101%;
}
.description__buttons-container {
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.description__text-container {
  padding: 10px;
}


@media screen and (max-width: 1200px) {
  .section1 aside img {
    width: 350px;
  }
  .section2 aside {
    width: 60%;
    float: right;
  }
  .section2 article {
    width: 40%;
    float: right;
  }
  .section-title {
    font-size: 30px;
  }
}

@media screen and (max-width: 900px) {
  .heading h1 {
    font-size: 40px;
    letter-spacing: 4px;
  }
  .section1 .box {
    width: 50%;
  }
  .section1 .box {
    width: 50%;
    float: left;
    text-align: left;
    padding: 30px;
    transition: all 0.4s ease-in-out;
  }
  .section1 .box-content {
    padding: 10px;
  }
  .section1 .box:hover {
    padding: 10px;
    box-shadow: 0px 5px 15px rgb(0 0 0 / 5%)
  }
  .carousel-cell img {
    width: 100%;
    margin-top: 0px;
  }
  .room-left article {
    width: 100%;
    padding: 40px;
  }
}

@media screen and (max-width: 600px) {
  .heading h1 {
    font-size: 40px;
    letter-spacing: 4px;
  }
  .section1 .box {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .heading h1 {
    font-size: 28px;
    letter-spacing: 3px;
  }
  .section1 aside img {
    width: 100%;
  }
  .section2 {
    padding-right: 0px;
  }
  .carousel-cell img {
    display: block;
  }
  .section2 .wrapper {
    padding: 30px;
  }
  .section2 article {
    padding-left: 0px;
  }
}

@keyframes title-slide {
  0% {
    opacity: 0.8;
    left: -110px;
  }
  100% {
    opacity: 1;
    left: 0px;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
    margin-top: 20px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}

/**from here on**/
