
.mmain-bg {      /**imgae**/
  background:linear-gradient(90deg, var(--white), transparent 0%), url('../resources/images/cinema2.webp') no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  top: 0;
  left: 0;
  height: 500px;
  width: 100%;
  z-index: -1;
}

.banner .container {
  position: absolute;
  top: 0;
}
/**to make the image less bright**/
.layer {
  background-color: black;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  height: 500px;
  width: 100%;
}
/**heading fonts**/
.heading {   /**heading space and position **/
  color: white;
  position: relative;
  top: 250px;
  text-align: center;
}

.heading h1 {
  font-family: 'LibreBodoni-Regular';
  font-size: 50px;
  color: white;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 8px;
  top: 250px;
  text-align: center !important;
  margin:auto;
}

.heading p{
  font-size: 20px;
  margin-bottom: 10px
}

.about{
  text-align: center;
  margin-top:70px!important;
}

.about .content {
  color: darkgray;
  padding-bottom: 20px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: center;
}

.page-name {
  font-family: 'LibreBodoni-Regular';
  font-weight: 100;
  font-size: 40px;
  text-align: center;
}

.hotel-name {
  font-family: 'LibreBodoni-Regular';
  font-weight: 100;
  text-transform: uppercase;
  color: #aa8453;
  letter-spacing: 1px;
  font-size: 16px;
  margin-bottom: 12px;
  text-align: center;
}

.horizontal-line{
  width: 40%;
  height: 1px;
  display: inline-block;
  background-color: #aa8453;
  margin: 30px 0px;
}

.movie-title {
  font-size: 38px;
  font-family: 'LibreBodoni-Regular';
  font-weight: 100;
  color: black;
  letter-spacing: 1px;
}

.movie-sub-title {
  color: darkgray;
}

.room {
  font-family: 'LibreBodoni-Regular';
  font-weight: 100;
  text-transform: uppercase;
  color: #aa8453;
  letter-spacing: 1px;
  font-size: 20px;
  margin-bottom: 20px;
}

.movie-content{
  display: inline-block;
}

.movie-content img{
  width: 41%;
  float: left;
}

.movie-content article{
  width: 59%;
  float: left;
  padding: 77px 55px 39px !important;
  background-color: #F8F5F0;
  z-index: 1;
  text-align: center;
}


.horizontal-line{
  width: 40%;
  height: 1px;
  display: inline-block;
  background-color: #aa8453;
  margin: 30px 0px;
  text-align: center;
}


@media screen and (max-width: 1200px) {
  .section2 article {
    width: 40%;
    float: right;
  }
  .section-title {
    font-size: 30px;
  }
}

@media screen and (max-width: 900px) {
  .main-carousel{
    width:600px!important;
  }
  .heading h1 {
    font-size: 40px;
    letter-spacing: 4px;
  }
  .movie-title{
    font-size: 30px;
  }
  .movie-content article{
    padding: 44px 20px 15px !important;
    background-color: #F8F5F0;
    z-index: 1;
    text-align: center;
  }
  .horizontal-line{
    margin: 24px 0px 16px!important;
  }
  .room{
    font-size: 15px;
    margin-bottom: 16px;
  }
  .movie-sub-title{
    font-size: 15px!important;
  }
}

@media screen and (max-width: 600px) {
  .main-carousel{
    width:500px!important;
  }
  .heading h1 {
    font-size: 35px;
    letter-spacing: 4px;
  }
  .movie-title{
    font-size: 25px;
  }
  .movie-content article{
    padding: 39px 20px 18px !important;
    background-color: #F8F5F0;
    z-index: 1;
    text-align: center;
  }
  .horizontal-line{
    margin: 20px 0px 13px!important;
  }
  .room{
    font-size: 13px;
    margin-bottom: 13px;
  }
  .movie-sub-title{
    font-size: 12px!important;
  }
}

@media screen and (max-width: 500px) {
  .heading h1 {
    font-size: 35px;
    letter-spacing: 3px;
  }
  .about .content{
    font-size: 85% !important;
  }
  .page-name {
    font-size: 200% !important;
  }
  .hotel-name{
    font-size: 80% !important;
  }
  .carousel-cell img {
    display: block;
    width:70%;
    float: none;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .movie-content article {
    width: 100%;
    padding: 40px;
  }
  .main-carousel{
    width:80%!important;
  }
  .movie-title{
    font-size: 23px;
  }
  .room-left article{
    padding: 39px 20px 18px !important;
    background-color: #F8F5F0;
    z-index: 1;
    text-align: center;
  }
  .horizontal-line{
    margin: 20px 0px 13px!important;
  }
  .room{
    font-size: 12px;
    margin-bottom: 13px;
  }
  .movie-sub-title{
    font-size: 11px!important;
  }
}

@keyframes title-slide {
  0% {
    opacity: 0.8;
    left: -110px;
  }
  100% {
    opacity: 1;
    left: 0px;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
    margin-top: 20px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}
