.topnav {
  position: absolute;
	font-family: 'LibreBodoni-Regular' !important;
  left: 0;
  top: 0;
  width: 100%;
	padding: 20px 0;
  overflow: hidden;
  background-color: transparent;
  z-index: 99;
}

.active {
  display: none !important;
	border: 2px solid #aa8453;
	border-radius: 4px;
	padding: 10px 14px !important;
	margin: 0px 14px;
	transition: all 0.25s ease-in-out;
}

.active:hover {
	background-color: #aa8453;
	color: white !important;
}

.sticky {
  position: fixed;
  top: 0;
	box-shadow: 0px 5px 15px rgb(0 0 0 / 5%);
  background-color: white;
  animation: slide 0.3s ease-in-out;
}

.sticky a {
  color: black !important;
}

.sticky .nav-items button {
  color: black !important;
}

.sticky.container.nav-items.dropdown .dropdown-content {
  animation: none;
}

.nav-logo {
  float: left;
  width: 220px;
}

.nav-items {
  float: right;
  margin-top: 12px;
}

.ti-angle-down {
    padding-left: 0px;
    font-size: 8px;
}

.ti-angle-right {
	opacity: 0;
	color: #aa8453;
	padding-left: 2px;
	font-size: 10px;
	font-weight: bold;
	transition: all 0.3s ease-in-out;
}

.dropdown-content a:hover .ti-angle-right {
  opacity: 1;
	padding-left: 5px;
}

.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 12px 14px;
  text-decoration: none;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
	transition: all 0.3s ease-in-out;
}

.dropdown .dropbtn {
  font-size: 13px;
  border: none;
  outline: none;
  color: white;
  padding: 12px 14px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
	transition: all 0.3s ease-in-out;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
  z-index: 1;
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: white;
  min-width: 190px;
  z-index: 99;
  box-shadow: 0px 5px 15px rgb(0 0 0 / 5%);
  animation: fade 0.25s ease-in-out;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 14px 18px;
  font-size: 12px;
  text-decoration: none;
  display: block;
  text-align: left;
	transition: all 0.25s ease-in-out;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
	padding-left: 25px;
}

.topnav a:hover:not(.active), .dropdown:hover .dropbtn {
  color: #aa8453 !important;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.book-btn {
  font-family: 'LibreBodoni-Regular' !important;
  background-color: #F8F5F0;
  position: fixed;
  right: -50px;
  top: 200px;
  width: 120px;
  height: 80px;
  z-index: 99;
  transform: rotate(-90deg);
  box-shadow: 0px 5px 15px rgb(0 0 0 / 5%);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.book-form {
  display: none;
  font-family: 'LibreBodoni-Regular' !important;
  background-color: #F8F5F0;
  position: fixed;
  right: 90px;
  top: 180px;
  padding: 40px 40px;
  width: 370px;
  z-index: 98;
  box-shadow: 0px 5px 15px rgb(0 0 0 / 5%);
  transition: all 0.3s ease-in-out;
}

.form-container {
  float: left;
  width: 50%;
  padding: 7.5px;
  margin-bottom: 30px;
}

.form-container.adult {
  margin: 0px;
}

.form-container.child {
  margin: 0px;
}

.form-container .child, .form-container .adult {
  margin: 0px;
}

.book-btn:hover {
  right: -40px;
}

.book-btn:hover p{
  right: -35px;
  color: #aa8453;
}

.btn-active .book-arrow{
  transform: rotate(180deg);
}

.btn-active {
  right: -40px !important;
}

.book-btn p {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}

.book-arrow {
  margin-top:8px;
  margin-bottom:0px;
  font-size:12px;
  transition: all 0.25s ease-in-out;
}

.book-title {
  margin: 0px;
  text-align: center;
  user-select: none;
  transition: all 0.25s ease-in-out;
}

.show-form {
  display: block;
  animation: fade 0.3s ease-in-out;
}

.book-btn.alt-color {
  background-color: #aa8453 !important;
  color: white;
}

.book-btn:hover.alt-color p{
  right: -35px;
  color: black;
}

.book-form input, .book-form select{
  margin: 15px 0px;
}

.scroll-indicator {
  position: fixed;
  cursor: pointer;
  box-shadow: 0px 5px 15px rgb(0 0 0 / 5%);
  color: white;
  bottom: 40px;
  right: 50%;
  text-align: center;
  padding: 15px 18px 14px 18px;
  border-radius: 50%;
  background-color: #aa8453;
  transition: all 1s ease-in-out;
  animation: jump 1s ease-in-out;
  animation-iteration-count: infinite;
}

.scroll-indicator:hover {
  background-color: #C4965B;
}

.to-top {
  left: auto !important;
  animation: none !important;
  transform: rotate(180deg);
  right: 40px;
}

.scroll-indicator.to-top:hover {
  margin-bottom: 8px;
}

.scroll-indicator .ti-angle-down {
  font-size: 15px !important;
  line-height: 0px !important;
  font-weight: bold;
}

@keyframes slide {
  0% {
    opacity: 0.8;
    top: -50px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
    margin-top: 20px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}

@keyframes jump {
  0% {
    margin-bottom: 12px
  }
  50% {
    margin-bottom: 0px
  }
  100% {
    margin-bottom: 12px
  }
}

@media screen and (max-width: 380px) {
	.book-form, .book-btn {
    display: none;
  }
  .active {
    display: block !important;
    background-color: #aa8453;
    color: white !important;
  }
}

@media screen and (max-width: 500px) {
	.book-form {
    right: 60px !important;
    width: 280px !important;
  }
}

@media screen and (max-width: 600px) {
	.book-form {
    right: 60px !important;
    width: 300px;
  }
  .btn-active {
    right: -50px !important;
  }
  .book-btn:hover {
    right: -50px;
  }
}

@media screen and (max-width: 1300px) {
	.topnav a:not(.dropdown-content a) {
		font-size: 13px;
	  padding: 12px 8px;
	}

	.dropdown .dropbtn {
	  font-size: 13px;
	  padding: 12px 8px;
	}
}

@media screen and (max-width: 1200px) {
  .topnav a, .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
    margin-top: 10px;
  }
  .topnav.responsive img {
    float: none;
  }
  .nav-items {
    float: none;
    margin-top: 0px;
		padding-bottom: 20px;
		display: none;
  }
  .nav-logo {
    float: none;
  }
  .nav-items:nth-child(3) a{
    background-color: white;
    color: black !important;
  }
}

@media screen and (max-width: 1200px) {
  .topnav.responsive {position: sticky;}
  .topnav.responsive .icon {
    position: relative;
    float: right;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
		border: none;
  }
	.topnav.responsive .dropdown-content a {
		padding: 14px 35px;
	}
	.topnav.responsive .active {
		margin: 0 !important;
	}
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: sticky;}
	.topnav.responsive .nav-items {display: block; animation: fade 0.5s}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
    color: black;
    background-color: white
  }
}
