.banner {
    background-image: url(../resources/images/onlineorderbanner.jpg);
    top: 0;
    left: 0;
    height: 83vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.heading {
  color: white;
  position: relative;
  top: 280px;
  text-align: center;
  animation: title-slide 1s ease-in-out;
}

@keyframes title-slide {
  0% {
    opacity: 0.8;
    top: 500px;
  }
  100% {
    opacity: 1;
    top: 280px;
  }
}

.heading h1 {
  font-family: 'LibreBodoni-Regular';
  font-size: 50px;
  color: white;
  margin: 0;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 8px;
}

.heading p {
  margin: 0;
  font-size: 20px;
  margin-bottom: 10px;
}

.layer {
  background-color: black;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}


.container1 {
  position: relative;
  display:inline-block;
  padding:0px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.centered1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 28px;
}

.menulist {
  padding: 10px;
  cursor: pointer;
  transition: 0.3s;
  display: block;
  width: 100%;
  height: auto;
  backface-visibility: hidden;
}

.menulist:hover {
  opacity: 0.7;
}


.form .input-container {
    float: left;
    width: 55%;
    padding-right: 15px;
    margin-bottom: 90px;
}

.lists {
    float: right;
    width: 40%;
}

.desc {
  float: left;
  width: 50%;
  padding-bottom: 80px;
}

.form p {
  padding-top: 15px;
}

#message {
  resize: none;
  height: 50px;
}
