@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400;1,400;1,700&display=swap');

:root{
   --main-color:#be9c79;
   --black:#333;
   --white:#fff;
   --light-color:#666;
   --border:.2rem solid var(--black);
   --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
   --extra: #8c735c;

}

*{
   font-family: 'Nunito', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   text-transform: capitalize;
}

*::selection{
   background-color: var(--main-color);
   color:var(--white);
}

::-webkit-scrollbar{
   height: .5rem;
   width: 1rem;
}

::-webkit-scrollbar-track{
   background-color: transparent;
}

::-webkit-scrollbar-thumb{
   background-color: var(--main-color);
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
   scroll-behavior: smooth;
   scroll-padding-top: 6.5rem;
}

section{
   padding:3rem 2rem;
   max-width: 1300px;
   margin:0 auto;
}

.heading{
   text-align: center;
   margin-bottom: 3rem;
}

.heading img{
   height: 4rem;
   margin-bottom: 1rem;
}

.heading h3{
   font-size:4rem;
   color:var(--black);
   font-family: 'Libre Bodoni', serif;;
}

.btn{
   display: inline-block;
   margin-top: 1rem;
   background-color: var(--main-color);
   cursor: pointer;
   color:var(--white);
   font-size: 1.8rem;
   padding:1rem 3rem;
}

.btn:hover{
   background-color: var(--darkbrown);
}

.header{
   position: sticky;
   top:0; left: 0; right:0;
   background-color: var(--white);
   box-shadow: var(--box-shadow);
   z-index: 1000;
}

.header .flex{
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: relative;
   padding:1.5rem 2rem;
}

.header .flex .logo img{
   height: 13rem;
}

.header .flex .navbar a{
   margin-left: 2rem;
   font-size: 2rem;
   color:var(--black);
}

.header .flex .navbar a:hover{
   text-decoration: underline;
   color:var(--main-color);
}


#menu-btn{
   display: none;
   font-size: 2.5rem;
   color:var(--black);
   cursor: pointer;
}



/*welcome page*/
.promotions-bg{
   background:linear-gradient(90deg, var(--white), transparent 0%), url('../resources/images/pro2.jpg') no-repeat;
   background-size: cover;
   background-position: center;
}

.promotions-bg .promotions{
   min-height: 70rem;
   display: flex;
   align-items: center;

}

.promotions-bg .promotions .content{
   width: 50rem;
   text-align: center;
}

.promotions-bg .promotions .content h3{
   font-size: 6rem;
   color:var(--white);
   font-family: 'Libre Bodoni', serif;
}

.promotions-bg .promotions .content p{
   padding:1rem 0;
   font-size: 1.6rem;
   color:var(--white);
   line-height: 2;
}
/**attraction scooper**/
.scooper{
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   gap:4rem;
   padding: 50px;
}

.scooper .image{
   flex:1 1 40rem;
}

.scooper .image img{
   width: 100%;
   border-radius:5%;
}

.scooper .content{
   flex:1 1 40rem;
}


.scooper .content h3{
   font-size: 4.5rem;
   color:var(--black);
   font-family: 'Libre Bodoni', serif;
   padding-bottom: 1rem;
}

.scooper .content p{
   padding:1rem 0;
   line-height: 2rem;
   color:var(--light-color);
   font-size: 1.5rem;
}

/**golf**/
.golf{
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   gap:4rem;
   padding: 50px;
}

.golf .image{
   flex:1 1 40rem;
}

.golf .image img{
   width: 100%;
   border-radius:5%;
}

.golf .content{
   flex:1 1 40rem;
}


.golf .content h3{
   font-size: 4.5rem;
   color:var(--black);
   font-family: 'Libre Bodoni', serif;
   padding-bottom: 1rem;
}

.golf .content p{
   padding:1rem 0;
   line-height: 2rem;
   color:var(--light-color);
   font-size: 1.5rem;
}


/**couples**/

.couple .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
   gap:10rem;
   align-items: flex-start;
   padding: 50px
}

.couple .heading h5{
  font-size: 1.5rem;
}

.couple .box-container .box{
   text-align: center;
}


.couple .box-container .box img{
   height: 28rem;
   margin-bottom: .5rem;
   border-radius:10%;
}

.couple .box-container .box h3{
   font-size: 2rem;
   color:var(--black);
   margin:1rem 0;
   font-family: 'Libre Bodoni', serif;
}

.couple .box-container .box p{
   line-height: 2;
   font-size: 1.5rem;
   color:var(--light-color);
}

/**family*/

.family .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
   gap:10rem;
   align-items: flex-start;
   padding: 50px;
}

.family .heading h5{
  font-size: 1.5rem;
}

.family .box-container .box{
   text-align: center;
}


.family .box-container .box img{
   height: 28rem;
   margin-bottom: .5rem;
   border-radius:10%;
}

.family .box-container .box h3{
   font-size: 2rem;
   color:var(--black);
   margin:1rem 0 ;
   font-family: 'Libre Bodoni', serif;
}

.family .box-container .box p{
   line-height: 2rem;
   font-size: 1.5rem;
   color:var(--light-color);
}


.family .box-container .box h4{
   line-height: 2rem;
   font-size: 1.5rem;
   color:var(--black);
   padding-bottom: 1rem;
}


.footer{

}

.footer .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
   gap:1.5rem;
   align-items: flex-start;
}

.footer .box-container .box{
   text-align: center;
}

.footer .box-container .box i{
   font-size: 2.5rem;
   line-height: 6rem;
   height: 6rem;
   width: 6rem;
   border-radius: 50%;
   background-color: var(--extra);
   color:var(--white);
   margin-bottom: 1rem;
}
.footer .box-container .box h3{
   margin:1rem 0;
   font-size: 2rem;
   color:var(--black);
   font-family: 'Libre Bodoni', serif;
}

.footer .box-container .box p{
   line-height: 2;
   font-size: 1.6rem;
   color:var(--light-color);
}

.footer .credit{
   text-align: center;
   margin-top: 3rem;
   padding-top: 2.5rem;
   border-top: var(--border);
   font-size: 2rem;
   color:var(--black);
   /* padding-bottom: 7rem; */
}

.footer .credit span{
   color:var(--main-color);
}
.footer{
  background-color: #ccc6bb
}








/* media queries  */

@media (max-width:991px){

   html{
      font-size: 55%;
   }

}

@media (max-width:768px){

   #menu-btn{
      display: inline-block;
      transition: .2s linear;
   }

   #menu-btn.fa-times{
      transform: rotate(180deg);
   }

   .header .flex .navbar{
      position: absolute;
      top:99%; left:0; right:0;
      background-color: var(--white);
      border-top: var(--border);
      border-bottom: var(--border);
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
      transition: .2s linear;
   }

   .header .flex .navbar.active{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
   }

   .header .flex .navbar a{
      display: block;
      margin:2rem;
   }

   .home-bg{
      background-position: left;
   }

   .home-bg .home{
      justify-content: center;
   }

   .home-bg .home .content h3{
      font-size: 4rem;
   }

   .about .content h3{
      font-size: 3rem;
   }

}

@media (max-width:450px){

   html{
      font-size: 50%;
   }

   .heading img{
      height: 3rem;
   }

   .heading h3{
      font-size: 3rem;
   }

}
