/**front part **/
.main-bg {      /**imgae**/
  background:url('../resources/images/pro2.jpg') no-repeat;
  top: 0;
  left: 0;
  height: 83vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.banner .container {
  position: absolute;
  top: 0;
}
/**to make the image less bright**/
.layer {
  background-color: black;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  height: 83vh;
  width: 100%;
}
/**heading fonts**/
.heading {   /**heading space and position **/
  color: white;
  position: relative;
  top: 280px;
  text-align: center;
  animation: title-slide 1s ease-in-out;
}

.heading h1 {
  font-family: 'LibreBodoni-Regular';
  font-size: 50px;
  color: white;
  margin: 0;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 8px;
}

.heading p {
  margin: 0;
  font-size: 20px;
  margin-bottom: 10px;
}
/**end of heading**/
/**content subtitle**/
.subtitle {
    color: darkgray;
    margin-bottom: 20px;
    padding:0 40px;
}

/*so to give abit of white spae */
.boxes article{
  padding:0 10px;
}
/**content image**/
.section .right img {
  float: left; /* this so so the image will be on the left while the text is on the right*/
  width: 55%; /* sizing image to half the page*/
}

.section .left img {
  float: right;
  width: 55%;
}

/*line to seperate tittle and content**/
.line {
  width: 40%;
  height: 1px;
  display: inline-block;
  background-color: #aa8453;
  margin: 20px 0px;
}

/**content**/
.section .right, .section .left {
  float: left;
  width: 100%;
  margin: 60px 0px;
}

/**content text location**/
.section .right article {
  float: left;
  width: 45%;
  padding: 50px;
  text-align: left;
}


.section .left article {
  float: right;
  width: 45%;
  padding: 50px;
  text-align: right;
}
/**content button**/
.button1 {
  display: inline-block;
  padding: 1rem 4.1rem;
  font-size: 1rem;
  border: 1px solid #b0a48d;
  position: relative;
  color: #b0a48d;
  background-color: transparent;/* too allow the color to be emoty**/
  margin-top: 40px;
}
.button1:hover{
  position: relative;
  background-color:#bb9c75 ;/**change color when hover*/
  color: white;
  padding: 1rem 4.1rem;
  font-size: 1rem;
  border: 1px solid #b0a48d;


}
/**romantic package**/
.content{
  text-align: center; /**to aligin the header*/
  padding-top: 70px;
}

/**to make it 3 in one row*/
.boxes{
  float: left;
  width: 33.33%;
  padding: 10px;
  text-align: center;
}
/** resize the image**/
.boxes img{
  width:100%;
  height:16rem;
  margin-bottom: 1rem;
  align-items: center;
}

/** clear floats after the boxes**/
.box-container:after {
  content: "";
  display: table;
  clear: both;
}
/**family**/
.family .content{
  padding-top: 100px;
}

.family{
  padding-bottom: 100px;
}
/**responsive layout-makes the colums(boxes) stack on top of each other**/
/** to make it responsive**/
@media screen and (max-width: 400px){
    .heading h1 {
        font-size: 28px;
        letter-spacing: 3px;
    }
    .section5 .right img {
      height: 40rem;
    }

  }

@media screen and (max-width: 900px){
    .heading h1 {
        font-size: 40px;
        letter-spacing: 4px;
    }
    .heading h1{
      font-size:40px;
      letter-spacing: 4px;
    }
    .section .right img,   .section5 .right img, .section .left img, .section .right article,.section5 .right article, .section .left article  {
      width: 100%;
      float: none;
      text-align: center;
    }
    .section .right, .section .left {
      margin: 40px 0px;
    }
    .boxes {
      width: 100%;
      padding:10px 0;
    }
    .boxes p{
      margin:0 10px ;
    }
  }


@media screen and (max-width: 1200px){
.section-title{
  font-size: 30px;
}
}
