/**front part **/
.main-bg {      /**imgae**/
  background: url('../resources/images/dinningoverall.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  height: 83vh;
  width: 100%;
  z-index: -1;
  object-fit: cover;
  background-attachment: fixed;
}

.banner .container {
  position: absolute;
  top: 0;
}
/**to make the image less bright**/
.layer {
  background-color: black;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  height: 83vh;
  width: 100%;
}
/**heading fonts**/
.heading {   /**heading space and position **/
  color: white;
  position: relative;
  top: 280px;
  text-align: center;
  animation: title-slide 1s ease-in-out;
}

.heading h1 {
  font-family: 'LibreBodoni-Regular';
  font-size: 50px;
  color: white;
  margin: 0;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 8px;
}

.heading p {
  margin: 0;
  font-size: 20px;
  margin-bottom: 10px;
}
/**end of heading**/
/** content**/
.content {
  text-align: center;
  padding-top: 100px;
}

.subtitle {
    color: darkgray;
    margin-bottom: 20px;
    padding:0 40px;
}
/*line to seperate tittle and content**/
.line {
  width: 40%;
  height: 1px;
  display: inline-block;
  background-color: #aa8453;
  margin: 30px 0px;
}
/* Create two equal columns that floats next to each other */
.column-l {
  float: left;
  width: 48%;
}
.column-r {
  float: right;
  width: 48%;

}
.row{
  margin: 0 50px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/*image sizing */
.row img{
  width: 100%;
  height: 30rem;
  margin-top: 50px;
}

.button-style1{
  text-align: center;
}

/** to make the page responsive **/
@media screen and (max-width: 400px) {
  .main-carousel{
    width:400px!important;
    margin: auto;
  }


  .section-sub-title{
    font-size: 11px !important;
  }
  .column-l {
    clear: both;
    width: 100%;
  }
  .column-r {
    clear: both;
    width: 100%;

  }
  .row{
    margin: 0 20px;
    text-align: center !important;
  }
  .row img{
    width: 100%;
    height: 20rem;
    margin-top: 50px;
  }
  .line{
    margin: 20px 0px !important;
  }
  .section-title{
    font-size: ;
  }
}

@media screen and (max-width: 600px) {
  .main-carousel{
    width:500px!important;
  }
  .heading h1 {
    font-size: 40px;
    letter-spacing: 4px;
  }

  .horizontal-line{
    margin: 20px 0px 13px!important;
  }
  .boxes{
    width: 100%;
  }

  }



@media screen and (max-width: 900px){
    .main-carousel{
      width:600px!important;
    }
    .heading h1 {
      font-size: 40px;
      letter-spacing: 4px;
    }

    .horizontal-line{
      margin: 24px 0px 16px!important;
    }
    .carousel-cell img {
      width: 100%;
      margin-top: 0px;
    }
  }

  @media screen and (max-width: 1200px){
  .section-title{
    font-size: 30px;
  }
  .main-carousel{
    width:65%!important;
    margin: auto;
  }
}

@keyframes title-slide {
  0% {
    opacity: 0.8;
    left: -110px;
  }
  100% {
    opacity: 1;
    left: 0px;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
    margin-top: 20px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}
