/**front part **/
.main-bg {      /**imgae**/
  background:linear-gradient(90deg, var(--white), transparent 0%), url('https://i.pinimg.com/originals/9d/bf/20/9dbf20d5dd22e74d1a4a0163f01ce724.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  height: 70vh;
  width: 100%;
  z-index: -1;
  object-fit: cover;
  background-attachment: fixed;
}

.banner .container {
  position: absolute;
  top: 0;
}
/**to make the image less bright**/
.layer {
  background-color: black;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  height: 70vh;
  width: 100%;
}
/**heading fonts**/
.heading {   /**heading space and position **/
  color: white;
  position: relative;
  top: 250px;
  text-align: center;
  animation: title-slide 1s ease-in-out;
}

.heading h1 {
  font-family: 'LibreBodoni-Regular';
  font-size: 50px;
  color: white;
  margin: 0;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 8px;
}

.heading p {
  margin: 0;
  font-size: 20px;
  margin-bottom: 10px;
}
/**end of heading**/
/** content**/
.content {
  text-align: center;
  padding-top: 100px;
}

.subtitle {
    color: darkgray;
    margin-bottom: 20px;
    padding:0 40px;
}
/*line to seperate tittle and content**/
.line {
  width: 40%;
  height: 1px;
  display: inline-block;
  background-color: #aa8453;
  margin: 20px 0px;
}



/** making caro**/
.image-left img{
  width: 50%;
  margin-top: 100px;
  float: left;
  height: 30rem;
}

.image-left article{
  width: 45%;
  padding: 180px 100px;
  float: left;
  background-color: #F8F5F0;
  z-index: 1;
  text-align: center;
}

.image-left{
  display: inline-block;
}


/** to make the page responsive **/


@media screen and (max-width: 500px) {
  .heading h1 {
    font-size: 28px;
    letter-spacing: 3px;
  }
  .image-left img{
    height: 20rem;
  }

  .image-left article{
    width: 100%;
    padding: 30px 0px !important;
    float: left;
    background-color: #F8F5F0;
    z-index: 1;
    text-align: center;
  }

  .section-title{
    font-size: 23px;
  }
  .section-sub-title{
    font-size: 11px !important;
  }
}
media screen and (max-width: 1200px) {

  .section2 article {
    width: 40%;
    float: right;
  }
  .section-title {
    font-size: 30px;
  }
}

@media screen and (max-width: 900px) {
  .main-carousel{
    width:600px!important;
  }
  .heading h1 {
    font-size: 40px;
    letter-spacing: 4px;
  }
  .movie-title{
    font-size: 30px;
  }
  .room-left article{
    padding: 44px 20px 15px !important;
    background-color: #F8F5F0;
    z-index: 1;
    text-align: center;
  }
  .horizontal-line{
    margin: 24px 0px 16px!important;
  }
  .room{
    font-size: 15px;
    margin-bottom: 16px;
  }
  .movie-sub-title{
    font-size: 15px!important;
  }
}

@media screen and (max-width: 600px) {
  .main-carousel{
    width:500px!important;
  }
  .heading h1 {
    font-size: 40px;
    letter-spacing: 4px;
  }
  .movie-title{
    font-size: 25px;
  }
  .room-left article{
    padding: 39px 20px 18px !important;
    background-color: #F8F5F0;
    z-index: 1;
    text-align: center;
  }
  .horizontal-line{
    margin: 20px 0px 13px!important;
  }
  .room{
    font-size: 13px;
    margin-bottom: 13px;
  }
  .movie-sub-title{
    font-size: 12px!important;
  }
}

@media screen and (max-width: 500px) {
  .heading h1 {
    font-size: 28px;
    letter-spacing: 3px;
  }
  .about .content{
    font-size: 85% !important;
  }
  .about .pageName {
    font-size: 70% !important;
  }
  .about .hotelName{
    font-size: 60% !important;
  }

  .carousel-cell img {
    display: block;
    width:70%;
    float: none;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .room-left article {
    width: 100%;
    padding: 40px;
  }
  .main-carousel{
    width:80%!important;
  }
  .movie-title{
    font-size: 23px;
  }
  .room-left article{
    padding: 39px 20px 18px !important;
    background-color: #F8F5F0;
    z-index: 1;
    text-align: center;
  }
  .horizontal-line{
    margin: 20px 0px 13px!important;
  }
  .room{
    font-size: 12px;
    margin-bottom: 13px;
  }
  .movie-sub-title{
    font-size: 11px!important;
  }
}

@keyframes title-slide {
  0% {
    opacity: 0.8;
    left: -110px;
  }
  100% {
    opacity: 1;
    left: 0px;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
    margin-top: 20px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}
