
*::selection{
   background-color: var(--main-color);
   color:var(--white);
}

::-webkit-scrollbar{
  width: 0.8rem !important;
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
   scroll-behavior: smooth;
   scroll-padding-top: 6.5rem;
}

section{
   padding:3rem 2rem;
   max-width: 100%;
   margin:0 auto;
}

.heading{
   text-align: center;
   margin-bottom: 3rem;
}

.heading img{
   height: 4rem;
   margin-bottom: 1rem;
}

.heading h3{
   font-size:4rem;
   color:var(--black);
   font-family: 'Libre Bodoni', serif
}

.btn{
   display: inline-block;
   margin-top: 1rem;
   background-color: var(--main-color);
   cursor: pointer;
   color:var(--white);
   font-size: 1.8rem;
   padding:1rem 3rem;
}

.btn:hover{
   background-color: var(--darkbrown);
}



/*header page*/
.restaurantreservation-bg{
   background:linear-gradient(90deg, var(--white), transparent 0%), url('https://i.pinimg.com/originals/9d/bf/20/9dbf20d5dd22e74d1a4a0163f01ce724.jpg') no-repeat;
   background-size: cover;
   background-position: center;
}

.restaurantreservation-bg .restaurantreservation{
   min-height: 70rem;
   display: flex;
   align-items: center;

}

.restaurantreservation-bg .restaurantreservation .content{
   width: 50rem;
   text-align: center;
}

.restaurantreservation-bg .restaurantreservation .content h3{
   font-size: 6rem;
   color:var(--white);
   font-family: 'Libre Bodoni', serif;
}

.restaurantreservation-bg .restaurantreservation .content p{
   padding:1rem 0;
   font-size: 1.6rem;
   color:var(--white);
   line-height: 2;
}



/**reserved**/

.reserved .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
   gap:2.5rem;
   align-items: flex-start;
}

.reserved .box-container .box{
   text-align: center;
   padding: .8rem;
}


.reserved .box-container .box img{
   width:100%;
   height:45rem;

   margin-bottom: 0.5rem;
   align-items: center;
}

.reserved .box-container .box h3{
   font-size: 2rem;
   color:var(--black);
   margin:1rem 0;
   font-family: 'Libre Bodoni', serif;
}

.reserved .box-container .box p{
   line-height: 2rem;
   font-size: 1.5rem;
   color:var(--light-color);
}

.reserved .heading h5{
   line-height: 2rem;
   font-size: 1.5rem;
   color:var(--black);
}
