
/*welcome page*/

.romance-banner {
  background-image: url("../resources/images/mainromance.png");
  top: 0;
  left: 0;
  height: 500px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/**to make the image less bright**/
.layer {
  background-color: black;
  opacity: 0.4;
  position: absolute;
  top: 0;
  left: 0;
  height: 500px;
  width: 100%;
}

/* form start*/
.heading {
  color: white;
  position: relative;
  top: 300px;
  text-align: center;
  animation: title-slide 1s ease-in-out;
}

.heading h1 {
  font-family: 'LibreBodoni-Regular';
  font-size: 50px;
  color: white;
  margin: 0;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 8px;
}

.heading p {
  margin: 0;
  font-size: 20px;
  margin-bottom: 10px;
}

.layer {
  background-color: black;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  height: 500px;
  width: 100%;
}

.form{ /**overall the form color and all being set **/
  background-color: #F5EFE8;
  display: inline-block;
  padding-top: 50px;
  padding-bottom: 100px;
  width: 100%;
}

.form .button-style2 {
  width: 48%;
  margin-top: 30px;
}
.form p{ /** for the ones that use p **/
  margin-bottom: 10px;
  color: darkgrey;
}

.form input{ /** the box being filed in **/
  float: left;
  width:100%;
  margin-bottom:15px;
}

.form select{ /** the box being filed in **/
  float: left;
  width:100%;
  margin-bottom:15px;
}

.form .input-container { /** this is so that the display will float left and setting the padding size for the form**/
  float: left;
  width: 50%;
  padding-right: 15px;
}

.form .wrapper { /** this is to make the form it 65% the width displayed**/
  width: 65%;
}

.form .info{
  color: black;
  margin-bottom: 15px;
}

.form textarea{
   resize: none;
   height: 50px;
}

/** recommendation section **/
.recommends .container {  /** the area of the box to store this **/
  margin-top: 100px;
  margin-bottom: 100px;
  display: inline-block;
  text-align: center;
}

.recommends .box{ /** to put it 3 by 1 **/
  float: left;
  padding: 15px;/** spacing between each of them **/
  width: 33.33%; /*this is to make it in the 3 by 3 format */
}

.recommends .box img{
  width: 100%;
  height: 25rem;
}

/** making it responsive **/
@media screen and (max-width: 900px) {
  .heading h1 { /** this is for the front part **/
    font-size: 40px;
    letter-spacing: 4px;
  }
  .form .input-container {
    width: 80%;
    padding-right: 0px;
  }
  .form .button-style2 {
    margin-top: 30px;
  }
  .form .wrapper {
    width: 60%;
  }
  .recommends .container {  /** the area of the box to store this **/
    margin-top: 80px;
    margin-bottom: 80px;
    display: inline-block;
    text-align: center;
  }

  .recommends .box{ /** to put it 3 by 1 **/
    float: left;
    padding: 10px;/** spacing between each of them **/
    width: 33.33%; /*this is to make it in the 3 by 3 format */
  }

  .recommends .box img{
    width: 100%;
    height: 20rem;
  }
  .recommends .section-title-sm{
    font-size: 25px;
  }
  .recomends .section-title{
    font-size:30px;
  }

}


@media screen and (max-width: 600px) {
  .heading h1 {
    font-size: 40px;
    letter-spacing: 4px;
  }
  .form .wrapper {
    width: 100%
  }
  .recommends .box{ /** to put it 3 by 1 **/
    width: 100%; /*this is to make it in the 3 by 3 format */
  }

}


@media screen and (max-width: 400px) {
  .heading h1 {
    font-size: 28px;
    letter-spacing: 3px;
  }
  .form{
    background-color: #F5EFE8;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
  }
  .form .input-container { /** this is so that the display will float left and setting the padding size for the form**/
    margin-bottom: 20px;
  }

}

@keyframes title-slide {
  0% {
    opacity: 0.8;
    left: -110px;
  }
  100% {
    opacity: 1;
    left: 0px;
  }
}
