

:root{
   --main-color:#be9c79;
   --black: #000000;
   --white:#ffffff;
   --light-color:#666666;
   --darkbrown: #8c735c;
   --table: #e2d5c5;
   --bottom: #ccc6bb;
   --lightbrown: #e2d5c5;
}

*{
   font-family: 'Nunito', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   text-transform: capitalize;
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
   scroll-behavior: smooth;
   scroll-padding-top: 6.5rem;
}

section{
   padding: 3rem 0rem;
   max-width: 100%;
   margin:0 auto;
}

.btn{
  background-color: var(--main-color);
  border-radius: 8px;
  line-height: 25px;
  margin-top: 10px;
  margin-left: 0px;
  padding:2px 10px;
  text-align: left;
}
.btn:hover{
   background-color: var(--darkbrown);
}

a {
    color: var(--white);
    text-align: center;
    font-size: 1.5rem;
  }

.heading{
   text-align: center;
   margin-bottom: 3rem;
}

.heading h3{
   font-size:4rem;
   color:var(--black);
   font-family: 'Libre Bodoni', serif;
}


.home-bg{
   background:linear-gradient(90deg, var(--white), transparent 0%), url(../resources/images/services.webp) no-repeat;
   background-size: cover;
   background-position: center;
   height: 500px;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
}

.home-bg .home{
   min-height: 600px;
   display: flex;
   align-items: center;
}

.home-bg .home .content{
   max-width: 80%;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
   margin-top: 90px;
}

.home-bg .home .content h2{
   font-size: 6rem;
   color:var(--white);
   font-family: 'Libre Bodoni', serif;
}

.about{
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   gap:4rem;
}

.about .content{
   flex:1 1 40rem;
}

.about .content p{
   padding:1.5rem 0 0;
   line-height: 2;
   color:var(--light-color);
   font-size: 1.5rem;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
}

.services{
  padding: 2.5rem;
  padding-top: .7rem;
}

.services .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
   gap:3rem;
   align-items: flex-start;
   padding: 4rem;
}

.services .box-container .box{
   text-align: center;
   margin: auto auto;
   border-spacing: 20rem 15rem;
   width: 300px;
   height: 210px;
}

.services .box-container .box img{
   height: 45px;
   margin-top: 1.5rem;
}

.services .box-container .box h3{
   font-size: 2.5rem;
   color:var(--black);
   margin:1rem 0;
   font-family: 'Libre Bodoni', serif;
}

.services .box-container .box p{
   line-height: 2;
   font-size: 1.5rem;
   color:var(--light-color);
   padding-bottom: 20px;
}

.footer{
  background-color: #ccc6bb;
}

.footer .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
   gap:1.5rem;
   align-items: flex-start;
}

.footer .heading h3{
  font-family: 'Libre Bodoni', serif;
  font-size: 2.7rem;
}

.footer .box-container .box{
   text-align: center;
}

.footer .box-container .box i{
   font-size: 2.5rem;
   line-height: 6rem;
   height: 6rem;
   width: 6rem;
   border-radius: 50%;
   background-color: var(--darkbrown);
   color:var(--white);
   margin-bottom: 1rem;
}

.footer .box-container .box h3{
   margin:1rem 0;
   font-size: 2rem;
   color:var(--black);
   font-family: 'Libre Bodoni', serif;
}

.footer .box-container .box p{
   line-height: 2;
   font-size: 1.6rem;
   color:var(--light-color);
}

/* ferryschedule*/

.thome-bg{
   background:linear-gradient(90deg, var(--white), transparent 0%), url(../resources/images/table.jpg) no-repeat;
   background-size: cover;
   background-position: center;
   height: 500px;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
}

.thome-bg .home{
   min-height: 600px;
   display: flex;
   align-items: center;
}

.thome-bg .home .content{
   max-width: 80%;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
   margin-top: 90px;
}

.thome-bg .home .content h2{
   font-size: 6rem;
   color:var(--white);
   font-family: 'Libre Bodoni', serif;
   margin-left: auto;
   margin-right: auto;
}

table,td {
  border: 1px solid;
  border-collapse: collapse;
}

table{
  margin-left: auto;
  margin-right: auto;
  table-layout:fixed;
  width:50%;
  background-color: var(--table);
  min-width: 25rem;
}

td{
  font-size: 1.5rem;
  text-align: center;
  width: 50%;
  line-height: 30px;
  font-weight: normal;
}

h2{
  font-size: 2.5rem;
  font-family: 'Libre Bodoni', serif;
  margin-left: auto;
  margin-left: auto;
  text-align: center;
}

.backferry .hotel{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: flex-start;
}

.ferrytable .hotel{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: flex-start;
}

.bus .hotel{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: flex-start;
}

.services .box-container .box button{
  background-color: var(--main-color);
  border-radius: 8px
}

.services .box-container .box a {
  color: var(--white);
  line-height: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.services .box-container .box button:hover{
   background-color: var(--darkbrown);
}
