* {
  font-family: 'LibreBodoni-Regular';
}

::-webkit-scrollbar-track{
   background-color: white !important;
}

h1, h2 {
  letter-spacing: 2.5px;
}

.banner {
  background-image: url("../resources/images/gallerybanner2.jpg");
  top: 0;
  left: 0;
  height: 83vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.heading {
  color: white;
  position: relative;
  top: 280px;
  text-align: center;
  animation: title-slide 1s ease-in-out;
}

@keyframes title-slide {
  0% {
    opacity: 0.8;
    top: 500px;
  }
  100% {
    opacity: 1;
    top: 280px;
  }
}

.heading h1 {
  font-family: 'LibreBodoni-Regular';
  font-size: 50px;
  color: white;
  margin: 0;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 8px;
}

.heading p {
  margin: 0;
  font-size: 20px;
  margin-bottom: 10px;
}

.layer {
  background-color: black;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.btn{
  background-color: var(--main-color);
  line-height: 15.6px;
  margin-top: 6.3px;
  margin-left: 0px;
  padding:1.5px 13px;
  text-align: left;
  font-size: 1rem;
}

.btn:hover{
   background-color: var(--darkbrown);
}

a {
    color: var(--white);
    text-align: center;
  }

header {
  height: 500px;
}


  .main-bg {
    background: url('../resources/images/services.jpg') no-repeat;
    top: 10rem;
    left: 0;
    height: 83vh;
    width: 100%;
    z-index: -1;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  .banner .container {
    position: absolute;
    top: 0;
  }
  /**to make the image less bright**/
  .layer {
    background-color: black;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    height: 83vh;
    width: 100%;
  }
  /**heading fonts**/
  .heading {   /**heading space and position **/
    color: white;
    position: relative;
    top: 280px;
    text-align: center;
  }

  .heading h1 {
    font-family: 'LibreBodoni-Regular';
    font-size: 50px;
    color: white;
    margin: 0;
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 8px;
  }

  .heading p{
    font-size: 20px;
    margin-bottom: 10px
  }

  .about{
    text-align: center;
    margin-top: 70px!important;
  }

  .page-name {
    font-family: 'LibreBodoni-Regular';
    font-weight: 100;
    font-size: 40px;
    text-align: center;
  }

  .content {
    color: darkgray;
    padding-bottom: 10px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
    margin-bottom: 40px !important;
  }

  .hotel-name {
    font-family: 'LibreBodoni-Regular';
    font-weight: 100;
    text-transform: uppercase;
    color: #aa8453;
    letter-spacing: 1px;
    font-size: 16px;
    margin-bottom: 12px;
    text-align: center;
  }

  .horizontal-line{
    width: 40%;
    height: 1px;
    display: inline-block;
    background-color: #aa8453;
    margin: 30px 0px;
  }

.services{
  padding-top: .44rem;
}

.services .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr)); /*make the columns*/
   gap:.5rem;
   align-items: flex-start;
   padding: 1.5rem 5rem;
}

.services .box-container .box{
   text-align: center;
   width: 15rem;
   height: 200px;
   margin:15px;
   padding: 15px;
   border: 1px solid lightgray; /*add border*/
}

.services .box-container .box img{
   height: 45px;
}

.services .box-container .box h3{
   font-size: 1.3rem;
   color: black;
   margin:.4rem 0;
}

.services .box-container .box p{
   line-height: 1.3rem;
   font-size: .9rem;
   color:#666666;
   padding-bottom: 12.5px;
}

.services .box-container .box button{
  background-color: #BB9C75;
  border-radius: 5px
}

.services .box-container .box a {
  color: white;
  line-height: 12.5px;
}

.services .box-container .box button:hover{
   background-color: #8c735c;
}

/* ferryschedule*/

.tmain-bg {      /**image**/
  background: url('../resources/images/table.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  top: 0;
  left: 0;
  height: 83vh;
  width: 100%;
  z-index: -1;
  object-fit: cover;
}

.banner .container {
  position: absolute;
  top: 0;
}

table,td {
  border: 1px solid;
  border-collapse: collapse; /*single line only*/
}

table{
  margin-left: auto;
  margin-right: auto;
  table-layout:fixed;
  width:50%; /*reduce table size*/
  background-color: #F5EFE8;
  min-width: 19rem; /*too small cant see*/
}

td{
  font-size: 1rem;
  text-align: center;
  width: 50%;
  line-height: 30px;
  font-weight: normal;
}

h2{
  font-size: 1.6rem;
  font-family: 'LibreBodoni-Regular';
  font-weight: 100;
  margin-left: auto;
  margin-left: auto;
  text-align: center;
  padding-bottom: 10px
}

.backferry .hotel, .ferrytable .hotel, .bus .hotel{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: flex-start;
}

@media screen and (max-width: 420px){
  #about{
    margin-top:20rem !important;
  }
  .services .box-container{
    display: block;
    text-align: center;
    padding: 4.5rem; /*idk how to settle this boxcontainer ..*/
    padding-top: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .services .box-container .box{
    margin-bottom: 50px;
  }
  /*for timtable*/
  table{
    width: 10%;
  }
  td{
    width:20%;
    font-size: 0.9rem;
  }
  h2{
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 900px){
  .horizontal-line{
    margin: 24px 0px 16px!important;
  }
  .content{
    margin-left:1rem;
    margin-right: 1rem;
  }
}
