:root{
   --main-color:#BB9C75;
   --black: #000000;
   --white:#ffffff;
   --light-color:#666666;
   --darkbrown: #8c735c;
   --table: #e2d5c5;
   --bottom: #ccc6bb;
   --lightbrown: #e2d5c5;
}


.btn{
  background-color: var(--main-color);
  line-height: 15.6px;
  margin-top: 6.3px;
  margin-left: 0px;
  padding:1.5px 13px;
  text-align: left;
  font-size: 1rem;
}
.btn:hover{
   background-color: var(--darkbrown);
}

a {
    color: var(--white);
    text-align: center;
  }

  .main-bg {      /**imgae**/
    background:linear-gradient(90deg, var(--white), transparent 0%), url('../resources/images/services.webp') no-repeat;
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    height: 500px;
    width: 100%;
    z-index: -1;
    object-fit: cover;
  }

  .banner .container {
    position: absolute;
    top: 0;
  }
  /**to make the image less bright**/
  .layer {
    background-color: black;
    opacity: 0.4;
    position: absolute;
    top: 0;
    left: 0;
    height: 500px;
    width: 100%;
  }
  /**heading fonts**/
  .heading {   /**heading space and position **/
    color: white;
    position: relative;
    top: 315px;
    text-align: center;
  }

  .heading h1 {
    font-family: 'LibreBodoni-Regular';
    font-size: 50px;
    color: white;
    margin: 0;
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 8px;
    top: 250px;
  }

.about{
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   gap:2.5rem;
   padding: 1.9rem 2rem;
}

.about .content{
   flex:1 1 20rem;
}

.about .content p{
   padding:.94rem 0 0;
   line-height: 2rem;
   color:var(--light-color);
   font-size: .94rem;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
}

.services{
  padding-top: .44rem;
}

.services .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
   gap:.5rem;
   align-items: flex-start;
   padding: 1.5rem 5rem;
}

.services .box-container .box{
   text-align: center;
   width: 15rem;
   height: 200px;
   margin:15px;
   padding: 15px;
   border: 1px solid lightgray;
}

.services .box-container .box img{
   height: 45px;
}

.services .box-container .box h3{
   font-size: 1.3rem;
   color:var(--black);
   margin:.4rem 0;
}

.services .box-container .box p{
   line-height: 1.3rem;
   font-size: .9rem;
   color:var(--light-color);
   padding-bottom: 12.5px;
}

.services .box-container .box button{
  background-color: var(--main-color);
  border-radius: 5px
}

.services .box-container .box a {
  color: var(--white);
  line-height: 12.5px;
}

.services .box-container .box button:hover{
   background-color: var(--darkbrown);
}

/* ferryschedule*/

.tmain-bg {      /**imgae**/
  background:linear-gradient(90deg, var(--white), transparent 0%), url('../resources/images/table.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  height: 500px;
  width: 100%;
  z-index: -1;
  object-fit: cover;
}

.banner .container {
  position: absolute;
  top: 0;
}

table,td {
  border: 1px solid;
  border-collapse: collapse;
}

table{
  margin-left: auto;
  margin-right: auto;
  table-layout:fixed;
  width:50%;
  background-color: var(--table);
  min-width: 25rem;
}

td{
  font-size: 1rem;
  text-align: center;
  width: 50%;
  line-height: 30px;
  font-weight: normal;
}

h2{
  font-size: 1.6rem;
  font-family: 'Libre Bodoni', serif;
  margin-left: auto;
  margin-left: auto;
  text-align: center;
  padding-bottom: 10px
}

.backferry .hotel{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: flex-start;
}

.ferrytable .hotel{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: flex-start;
}

.bus .hotel{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: flex-start;
}
