.banner {
  background-image: url("../resources/images/signupbanner.jpg");
  top: 0;
  left: 0;
  height: 83vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.heading {
  color: white;
  position: relative;
  top: 280px;
  text-align: center;
  animation: title-slide 1s ease-in-out;
}

.heading h1 {
  font-family: 'LibreBodoni-Regular';
  font-size: 50px;
  color: white;
  margin: 0;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 8px;
}

.heading p {
  margin: 0;
  font-size: 20px;
  margin-bottom: 10px;
}

.layer {
  background-color: black;
  opacity: 0.55;
  position: absolute;
  top: 0;
  left: 0;
  height: 83vh;
  width: 100%;
}

.section-title {
  font-size: 38px;
}

.section-sub-title {
  color: darkgray;
}

.section-subheading {
  text-transform: uppercase;
  color: #aa8453;
  font-size: 18px;
}

.signup .container {
  text-align: left;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
  display: inline-block;
}

.signup article {
  float: left;
  width: 60%;
}

.signup article .container {
  text-align: center;
  margin-top: 120px;
}

.box-container {
  width:100%;
  margin-top: 40px;
  display:flex;
  justify-content: center;
}

.signup .box {
  float: left;
  width: 25%;
  padding: 10px;
  padding-left: 0px;
}

.signup .box p{
  font-weight: bold;
}

.signup .box i {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #aa8453;
}

.signup .form {
  float: left;
  background-color: #F8F5F0;
  width: 40%;
  display: inline-block;
}

.form .wrapper {
  margin: 100px 0px;
  padding: 0px 60px;
}

.form .button-style1 {
  text-align: center;
  margin-top: 45px;
}

@media screen and (max-width: 1200px) {
  .section1 aside img {
    width: 350px;
  }
  .carousel-cell img {
    display: block;
    width: 400px;
  }
  .section2 aside {
    width: 60%;
    float: right;
  }
  .section2 article {
    width: 40%;
    float: right;
  }
  .section-title {
    font-size: 30px;
  }
}

@media screen and (max-width: 1000px) {
  .heading h1 {
    font-size: 40px;
    letter-spacing: 4px;
  }
  .signup article, .signup .form {
    width: 50%;
  }
}

@media screen and (max-width: 700px) {
  .heading h1 {
    font-size: 40px;
    letter-spacing: 4px;
  }
  .signup .form, .signup article{
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .heading h1 {
    font-size: 28px;
    letter-spacing: 3px;
  }
  .box-container {
    flex-direction: column;
  }
  .signup .box {
    width: 100%;
    padding: 20px;
  }
  .signup .box i {
    font-size: 60px;
  }
  .signup article .container {
    margin-top: 100px;
  }
  .form .wrapper {
    margin: 80px 0px;
  }
}

@keyframes title-slide {
  0% {
    opacity: 0.8;
    left: -110px;
  }
  100% {
    opacity: 1;
    left: 0px;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
    margin-top: 20px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}
