:root{
   --main-color:#be9c79;
   --black:#333;
   --white:#fff;
   --light-color:#666;
   --border:.2rem solid var(--black);
   --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
   --extra: #8c735c;

}



section{
  padding:1.875rem 1.25rem;
  max-width: 100%;
  margin:0 auto;
}

.heading{
   text-align: center;
   margin-bottom: 3rem;
}

.heading img{
   height: 2.5rem;
   margin-bottom: 1rem;
}

.heading h3{
   font-size:4rem;
   color:var(--black);
   font-family: 'Libre Bodoni', serif;;
}

.btn{
   display: inline-block;
   margin-top: 1rem;
   background-color: var(--main-color);
   cursor: pointer;
   color:var(--white);
   font-size: 1.125rem;
   padding:0.625rem 1.875rem;
}

.btn:hover{
   background-color: var(--darkbrown);
}

#menu-btn{
   display: none;
   font-size: 2.5rem;
   color:var(--black);
   cursor: pointer;
}



/*into page*/
.intro-bg{
   background:linear-gradient(90deg, var(--white), transparent 0%), url('../resources/images/golf1.png') no-repeat;
   background-size: cover;
   background-position: center;
}

.intro-bg .intro{
   min-height: 25rem;
   display: flex;
   align-items: center;

}

.intro-bg .intro .content{
   width: 110rem;
   text-align: center;
   margin: auto;
}

.intro-bg .intro .content h3{
   font-size: 3.5rem;
   color:var(--white);
   font-family: 'Libre Bodoni', serif;
}

.intro-bg .intro .content p{
   padding:1rem 0;
   font-size: 1rem;
   color:var(--white);
   line-height: 2rem;
}



/**course 1*/
.Family{
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   gap:4rem;
   padding: 31.25px;
}

.Family .image{
   flex:1 1 25rem;
}

.Family .image img{
   width: 100%;
   height: 28.125rem;
}

.Family .content{
   flex:1 1 25rem;
}


.Family .content h3{
   font-size: 2.8125rem;
   color:var(--black);
   font-family: 'Libre Bodoni', serif;
}

.Family .content p{
   padding:1rem 0;
   line-height: 1.25rem;
   color:var(--light-color);
   font-size: 0.9375rem;
}
/*price fonts*/
.price p{
  line-height: .5rem;
  font-weight: normal;
}

.price h4{
  font-size: 1.5rem;
}
.price h5{
  font-size: 0.8rem;
  line-height: 1.2rem;
  font-weight: normal;
}


/**course2**/
.Classique{
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   gap:2.5rem;
   padding: 31.25px;
}

.Classique .image{
   flex:1 1 25rem;
}

.Classique .image img{
  width: 100%;
  height: 25rem;
}

.Classique .content{
   flex:1 1 25rem;
}


.Classique .content h3{
   font-size: 2.8125rem;
   color:var(--black);
   font-family: 'Libre Bodoni', serif;
}

.Classique .content p{
   padding:1rem 0;
   line-height: 1.25rem;
   color:var(--light-color);
   font-size: 0.9375rem;
}


/**course3**/
.digi{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap:2.5rem;
  padding: 31.25px;
}

.digi .image{
   flex:1 1 25rem;
}

.digi .image img{
  width: 100%;
  height: 18.75rem;
}

.digi .content{
   flex:1 1 25rem;
}


.digi .content h3{
   font-size: 2.8125rem;
   color:var(--black);
   font-family: 'Libre Bodoni', serif;
}

.digi .content p{
   padding:1rem 0;
   line-height: 1.25rem;
   color:var(--light-color);
   font-size: 0.9375rem;
}
